In [0]:
#Spark Session
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Spark Introduction").getOrCreate()

In [0]:
spark

In [0]:
#Employee Data & Schema  --> list of lists
data = [
    ["001","101","John Doe","30","Male","50000","2015-01-01"],
    ["002","101","Jane Smith","25","Female","45000","2016-02-15"],
    ["003","102","Bob Brown","35","Male","55000","2014-05-01"],
    ["004","102","Alice Lee","28","Female","48000","2017-09-30"],
    ["005","103","Jack Chan","40","Male","60000","2013-04-01"],
    ["006","103","Jill Wong","32","Female","52000","2018-07-01"],
    ["007","101","James Johnson","42","Male","70000","2012-03-15"],
    ["008","102","Kate Kim","29","Female","51000","2019-10-01"],
    ["009","103","Tom Tan","33","Male","58000","2016-06-01"],
    ["010","104","Lisa Lee","27","Female","47000","2018-08-01"],
    ["011","104","David Park","38","Male","65000","2015-11-01"],
    ["012","105","Susan Chen","31","Female","54000","2017-02-15"],
    ["013","106","Brian Kim","45","Male","75000","2011-07-01"],
    ["014","107","Emily Lee","26","Female","46000","2019-01-01"],
    ["015","106","Michael Lee","37","Male","63000","2014-09-30"],
    ["016","107","Kelly Zhang","30","Female","49000","2018-04-01"],
    ["017","105","George Wang","34","Male","57000","2016-03-15"],
    ["018","104","Nancy Liu","29","","50000","2017-06-01"],
    ["019","103","Steven Chen","36","Male","62000","2015-08-01"],
    ["020","102","Grace Kim","32","Female","53000","2018-11-01"]
]

schema = "employee_id string, department_id string, name string, age string, gender string, salary string, hire_date string"

In [0]:
# Create emp DataFrame
emp = spark.createDataFrame(data,schema)
emp.show()

#Schema for emp  
emp.printSchema()

+-----------+-------------+-------------+---+------+------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|
+-----------+-------------+-------------+---+------+------+----------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|
|        018|          104|    Nancy Liu| 29|      | 50000|2017-06-01|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|
+-----------+-------------+-------------+---+------+------+----------+

root
 |-- employee_id: string (nullable = true)
 |-- department_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- hire_date: string (nullable = true)

In [0]:
# Case when 
# Select employee_id, name, age, salary, gender
# case when gender = 'Male' then 'M' when gender = 'Female' then 'F' else null end as new_gender, hire_date from emp

from pyspark.sql.functions import when, col, expr
emp_gender = emp.withColumn("new_gender", when(col("gender") == 'Male', 'M')
                            .when(col("gender") == 'Female', 'F')
                            .otherwise(None)

                            #OR

                            )
emp_gender_1 = emp.withColumn("new_gender", expr("case when gender = 'Male' then 'M' when gender = 'Female' then 'F' else null end"))

In [0]:
emp_gender.show()

+-----------+-------------+-------------+---+------+------+----------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|new_gender|
+-----------+-------------+-------------+---+------+------+----------+----------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|         M|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|         F|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|         M|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|         F|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|         M|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|         F|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|         M|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|         F|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|         M|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|         F|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|         M|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|         F|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|         M|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|         F|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|         M|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|         F|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|         M|
|        018|          104|    Nancy Liu| 29|      | 50000|2017-06-01|      null|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|         M|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|         F|
+-----------+-------------+-------------+---+------+------+----------+----------+

In [0]:
# Replace in strings
# Select employee_id, name, replace(name, 'J', 'Z') as new_name, age, salary, gender, new_gender, hire_date from emp_gender_fixed
from pyspark.sql.functions import regexp_replace

emp_name = emp_gender.withColumn("new_name", regexp_replace(col("name"), 'J', 'Z'))
emp_name.show()

+-----------+-------------+-------------+---+------+------+----------+----------+-------------+
|employee_id|department_id|         name|age|gender|salary| hire_date|new_gender|     new_name|
+-----------+-------------+-------------+---+------+------+----------+----------+-------------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|         M|     Zohn Doe|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|         F|   Zane Smith|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|         M|    Bob Brown|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|         F|    Alice Lee|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|         M|    Zack Chan|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|         F|    Zill Wong|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|         M|Zames Zohnson|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|         F|     Kate Kim|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|         M|      Tom Tan|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|         F|     Lisa Lee|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|         M|   David Park|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|         F|   Susan Chen|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|         M|    Brian Kim|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|         F|    Emily Lee|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|         M|  Michael Lee|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|         F|  Kelly Zhang|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|         M|  George Wang|
|        018|          104|    Nancy Liu| 29|      | 50000|2017-06-01|      null|    Nancy Liu|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|         M|  Steven Chen|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|         F|    Grace Kim|
+-----------+-------------+-------------+---+------+------+----------+----------+-------------+

In [0]:
# Convert Date
# select *,  to_date(hire_date, 'YYYY-MM-DD') as hire_date from emp_name_fixed

from pyspark.sql.functions import to_date
emp_date_fix = emp_name.withColumn("hire_date", to_date(col("hire_date"), 'yyyy-MM-dd'))

In [0]:
#Verifying if the hire_date is converted to 'date' from 'string' datatype 
emp_date_fix.printSchema()

root
 |-- employee_id: string (nullable = true)
 |-- department_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- hire_date: date (nullable = true)
 |-- new_gender: string (nullable = true)
 |-- new_name: string (nullable = true)

In [0]:
# Add Date Columns
# Add current_date, current_timestamp, extract year from hire_date
from pyspark.sql.functions import current_date, current_timestamp

emp_dated = emp_date_fix.withColumn("date_now", current_date()).withColumn("timestamp_now", current_timestamp())

In [0]:
emp_dated.show()

+-----------+-------------+-------------+---+------+------+----------+----------+-------------+----------+--------------------+
|employee_id|department_id|         name|age|gender|salary| hire_date|new_gender|     new_name|  date_now|       timestamp_now|
+-----------+-------------+-------------+---+------+------+----------+----------+-------------+----------+--------------------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|         M|     Zohn Doe|2025-06-02|2025-06-02 13:27:...|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|         F|   Zane Smith|2025-06-02|2025-06-02 13:27:...|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|         M|    Bob Brown|2025-06-02|2025-06-02 13:27:...|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|         F|    Alice Lee|2025-06-02|2025-06-02 13:27:...|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|         M|    Zack Chan|2025-06-02|2025-06-02 13:27:...|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|         F|    Zill Wong|2025-06-02|2025-06-02 13:27:...|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|         M|Zames Zohnson|2025-06-02|2025-06-02 13:27:...|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|         F|     Kate Kim|2025-06-02|2025-06-02 13:27:...|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|         M|      Tom Tan|2025-06-02|2025-06-02 13:27:...|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|         F|     Lisa Lee|2025-06-02|2025-06-02 13:27:...|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|         M|   David Park|2025-06-02|2025-06-02 13:27:...|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|         F|   Susan Chen|2025-06-02|2025-06-02 13:27:...|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|         M|    Brian Kim|2025-06-02|2025-06-02 13:27:...|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|         F|    Emily Lee|2025-06-02|2025-06-02 13:27:...|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|         M|  Michael Lee|2025-06-02|2025-06-02 13:27:...|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|         F|  Kelly Zhang|2025-06-02|2025-06-02 13:27:...|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|         M|  George Wang|2025-06-02|2025-06-02 13:27:...|
|        018|          104|    Nancy Liu| 29|      | 50000|2017-06-01|      null|    Nancy Liu|2025-06-02|2025-06-02 13:27:...|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|         M|  Steven Chen|2025-06-02|2025-06-02 13:27:...|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|         F|    Grace Kim|2025-06-02|2025-06-02 13:27:...|
+-----------+-------------+-------------+---+------+------+----------+----------+-------------+----------+--------------------+

In [0]:
emp_dated.show(truncate=False)

+-----------+-------------+-------------+---+------+------+----------+----------+-------------+----------+-----------------------+
|employee_id|department_id|name         |age|gender|salary|hire_date |new_gender|new_name     |date_now  |timestamp_now          |
+-----------+-------------+-------------+---+------+------+----------+----------+-------------+----------+-----------------------+
|001        |101          |John Doe     |30 |Male  |50000 |2015-01-01|M         |Zohn Doe     |2025-06-02|2025-06-02 13:27:22.094|
|002        |101          |Jane Smith   |25 |Female|45000 |2016-02-15|F         |Zane Smith   |2025-06-02|2025-06-02 13:27:22.094|
|003        |102          |Bob Brown    |35 |Male  |55000 |2014-05-01|M         |Bob Brown    |2025-06-02|2025-06-02 13:27:22.094|
|004        |102          |Alice Lee    |28 |Female|48000 |2017-09-30|F         |Alice Lee    |2025-06-02|2025-06-02 13:27:22.094|
|005        |103          |Jack Chan    |40 |Male  |60000 |2013-04-01|M         |Zack Chan    |2025-06-02|2025-06-02 13:27:22.094|
|006        |103          |Jill Wong    |32 |Female|52000 |2018-07-01|F         |Zill Wong    |2025-06-02|2025-06-02 13:27:22.094|
|007        |101          |James Johnson|42 |Male  |70000 |2012-03-15|M         |Zames Zohnson|2025-06-02|2025-06-02 13:27:22.094|
|008        |102          |Kate Kim     |29 |Female|51000 |2019-10-01|F         |Kate Kim     |2025-06-02|2025-06-02 13:27:22.094|
|009        |103          |Tom Tan      |33 |Male  |58000 |2016-06-01|M         |Tom Tan      |2025-06-02|2025-06-02 13:27:22.094|
|010        |104          |Lisa Lee     |27 |Female|47000 |2018-08-01|F         |Lisa Lee     |2025-06-02|2025-06-02 13:27:22.094|
|011        |104          |David Park   |38 |Male  |65000 |2015-11-01|M         |David Park   |2025-06-02|2025-06-02 13:27:22.094|
|012        |105          |Susan Chen   |31 |Female|54000 |2017-02-15|F         |Susan Chen   |2025-06-02|2025-06-02 13:27:22.094|
|013        |106          |Brian Kim    |45 |Male  |75000 |2011-07-01|M         |Brian Kim    |2025-06-02|2025-06-02 13:27:22.094|
|014        |107          |Emily Lee    |26 |Female|46000 |2019-01-01|F         |Emily Lee    |2025-06-02|2025-06-02 13:27:22.094|
|015        |106          |Michael Lee  |37 |Male  |63000 |2014-09-30|M         |Michael Lee  |2025-06-02|2025-06-02 13:27:22.094|
|016        |107          |Kelly Zhang  |30 |Female|49000 |2018-04-01|F         |Kelly Zhang  |2025-06-02|2025-06-02 13:27:22.094|
|017        |105          |George Wang  |34 |Male  |57000 |2016-03-15|M         |George Wang  |2025-06-02|2025-06-02 13:27:22.094|
|018        |104          |Nancy Liu    |29 |      |50000 |2017-06-01|null      |Nancy Liu    |2025-06-02|2025-06-02 13:27:22.094|
|019        |103          |Steven Chen  |36 |Male  |62000 |2015-08-01|M         |Steven Chen  |2025-06-02|2025-06-02 13:27:22.094|
|020        |102          |Grace Kim    |32 |Female|53000 |2018-11-01|F         |Grace Kim    |2025-06-02|2025-06-02 13:27:22.094|
+-----------+-------------+-------------+---+------+------+----------+----------+-------------+----------+-----------------------+

In [0]:
# DROP Null gender records
emp_drop = emp_dated.na.drop()

In [0]:
emp_drop.show(truncate=False) #employee_id '018' is dropped because it had one of the columns with 'null' value

+-----------+-------------+-------------+---+------+------+----------+----------+-------------+----------+-----------------------+
|employee_id|department_id|name         |age|gender|salary|hire_date |new_gender|new_name     |date_now  |timestamp_now          |
+-----------+-------------+-------------+---+------+------+----------+----------+-------------+----------+-----------------------+
|001        |101          |John Doe     |30 |Male  |50000 |2015-01-01|M         |Zohn Doe     |2025-06-02|2025-06-02 13:31:28.458|
|002        |101          |Jane Smith   |25 |Female|45000 |2016-02-15|F         |Zane Smith   |2025-06-02|2025-06-02 13:31:28.458|
|003        |102          |Bob Brown    |35 |Male  |55000 |2014-05-01|M         |Bob Brown    |2025-06-02|2025-06-02 13:31:28.458|
|004        |102          |Alice Lee    |28 |Female|48000 |2017-09-30|F         |Alice Lee    |2025-06-02|2025-06-02 13:31:28.458|
|005        |103          |Jack Chan    |40 |Male  |60000 |2013-04-01|M         |Zack Chan    |2025-06-02|2025-06-02 13:31:28.458|
|006        |103          |Jill Wong    |32 |Female|52000 |2018-07-01|F         |Zill Wong    |2025-06-02|2025-06-02 13:31:28.458|
|007        |101          |James Johnson|42 |Male  |70000 |2012-03-15|M         |Zames Zohnson|2025-06-02|2025-06-02 13:31:28.458|
|008        |102          |Kate Kim     |29 |Female|51000 |2019-10-01|F         |Kate Kim     |2025-06-02|2025-06-02 13:31:28.458|
|009        |103          |Tom Tan      |33 |Male  |58000 |2016-06-01|M         |Tom Tan      |2025-06-02|2025-06-02 13:31:28.458|
|010        |104          |Lisa Lee     |27 |Female|47000 |2018-08-01|F         |Lisa Lee     |2025-06-02|2025-06-02 13:31:28.458|
|011        |104          |David Park   |38 |Male  |65000 |2015-11-01|M         |David Park   |2025-06-02|2025-06-02 13:31:28.458|
|012        |105          |Susan Chen   |31 |Female|54000 |2017-02-15|F         |Susan Chen   |2025-06-02|2025-06-02 13:31:28.458|
|013        |106          |Brian Kim    |45 |Male  |75000 |2011-07-01|M         |Brian Kim    |2025-06-02|2025-06-02 13:31:28.458|
|014        |107          |Emily Lee    |26 |Female|46000 |2019-01-01|F         |Emily Lee    |2025-06-02|2025-06-02 13:31:28.458|
|015        |106          |Michael Lee  |37 |Male  |63000 |2014-09-30|M         |Michael Lee  |2025-06-02|2025-06-02 13:31:28.458|
|016        |107          |Kelly Zhang  |30 |Female|49000 |2018-04-01|F         |Kelly Zhang  |2025-06-02|2025-06-02 13:31:28.458|
|017        |105          |George Wang  |34 |Male  |57000 |2016-03-15|M         |George Wang  |2025-06-02|2025-06-02 13:31:28.458|
|019        |103          |Steven Chen  |36 |Male  |62000 |2015-08-01|M         |Steven Chen  |2025-06-02|2025-06-02 13:31:28.458|
|020        |102          |Grace Kim    |32 |Female|53000 |2018-11-01|F         |Grace Kim    |2025-06-02|2025-06-02 13:31:28.458|
+-----------+-------------+-------------+---+------+------+----------+----------+-------------+----------+-----------------------+

In [0]:
# Fix Null values
# select *, nvl('new_gender', 'O') as new_gender from emp_dated

from pyspark.sql.functions import coalesce, lit
emp_null_df = emp_dated.withColumn("new_gender", coalesce(col("new_gender"), lit("O"))) #wherever the value is null we are denoting it as 'O' (others)

In [0]:
emp_null_df.show()

+-----------+-------------+-------------+---+------+------+----------+----------+-------------+----------+--------------------+
|employee_id|department_id|         name|age|gender|salary| hire_date|new_gender|     new_name|  date_now|       timestamp_now|
+-----------+-------------+-------------+---+------+------+----------+----------+-------------+----------+--------------------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|         M|     Zohn Doe|2025-06-02|2025-06-02 13:51:...|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|         F|   Zane Smith|2025-06-02|2025-06-02 13:51:...|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|         M|    Bob Brown|2025-06-02|2025-06-02 13:51:...|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|         F|    Alice Lee|2025-06-02|2025-06-02 13:51:...|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|         M|    Zack Chan|2025-06-02|2025-06-02 13:51:...|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|         F|    Zill Wong|2025-06-02|2025-06-02 13:51:...|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|         M|Zames Zohnson|2025-06-02|2025-06-02 13:51:...|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|         F|     Kate Kim|2025-06-02|2025-06-02 13:51:...|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|         M|      Tom Tan|2025-06-02|2025-06-02 13:51:...|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|         F|     Lisa Lee|2025-06-02|2025-06-02 13:51:...|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|         M|   David Park|2025-06-02|2025-06-02 13:51:...|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|         F|   Susan Chen|2025-06-02|2025-06-02 13:51:...|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|         M|    Brian Kim|2025-06-02|2025-06-02 13:51:...|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|         F|    Emily Lee|2025-06-02|2025-06-02 13:51:...|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|         M|  Michael Lee|2025-06-02|2025-06-02 13:51:...|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|         F|  Kelly Zhang|2025-06-02|2025-06-02 13:51:...|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|         M|  George Wang|2025-06-02|2025-06-02 13:51:...|
|        018|          104|    Nancy Liu| 29|      | 50000|2017-06-01|         O|    Nancy Liu|2025-06-02|2025-06-02 13:51:...|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|         M|  Steven Chen|2025-06-02|2025-06-02 13:51:...|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|         F|    Grace Kim|2025-06-02|2025-06-02 13:51:...|
+-----------+-------------+-------------+---+------+------+----------+----------+-------------+----------+--------------------+

In [0]:
# Drop old columns and Fix new column names
# Dropping name, gender and renaming 'new_name' and 'new_gender' to 'name' and 'gender'respectively
emp_final = emp_null_df.drop("name", "gender").withColumnRenamed("new_name", "name").withColumnRenamed("new_gender", "gender")
emp_final.show()

+-----------+-------------+---+------+----------+------+-------------+----------+--------------------+
|employee_id|department_id|age|salary| hire_date|gender|         name|  date_now|       timestamp_now|
+-----------+-------------+---+------+----------+------+-------------+----------+--------------------+
|        001|          101| 30| 50000|2015-01-01|     M|     Zohn Doe|2025-06-02|2025-06-02 13:56:...|
|        002|          101| 25| 45000|2016-02-15|     F|   Zane Smith|2025-06-02|2025-06-02 13:56:...|
|        003|          102| 35| 55000|2014-05-01|     M|    Bob Brown|2025-06-02|2025-06-02 13:56:...|
|        004|          102| 28| 48000|2017-09-30|     F|    Alice Lee|2025-06-02|2025-06-02 13:56:...|
|        005|          103| 40| 60000|2013-04-01|     M|    Zack Chan|2025-06-02|2025-06-02 13:56:...|
|        006|          103| 32| 52000|2018-07-01|     F|    Zill Wong|2025-06-02|2025-06-02 13:56:...|
|        007|          101| 42| 70000|2012-03-15|     M|Zames Zohnson|2025-06-02|2025-06-02 13:56:...|
|        008|          102| 29| 51000|2019-10-01|     F|     Kate Kim|2025-06-02|2025-06-02 13:56:...|
|        009|          103| 33| 58000|2016-06-01|     M|      Tom Tan|2025-06-02|2025-06-02 13:56:...|
|        010|          104| 27| 47000|2018-08-01|     F|     Lisa Lee|2025-06-02|2025-06-02 13:56:...|
|        011|          104| 38| 65000|2015-11-01|     M|   David Park|2025-06-02|2025-06-02 13:56:...|
|        012|          105| 31| 54000|2017-02-15|     F|   Susan Chen|2025-06-02|2025-06-02 13:56:...|
|        013|          106| 45| 75000|2011-07-01|     M|    Brian Kim|2025-06-02|2025-06-02 13:56:...|
|        014|          107| 26| 46000|2019-01-01|     F|    Emily Lee|2025-06-02|2025-06-02 13:56:...|
|        015|          106| 37| 63000|2014-09-30|     M|  Michael Lee|2025-06-02|2025-06-02 13:56:...|
|        016|          107| 30| 49000|2018-04-01|     F|  Kelly Zhang|2025-06-02|2025-06-02 13:56:...|
|        017|          105| 34| 57000|2016-03-15|     M|  George Wang|2025-06-02|2025-06-02 13:56:...|
|        018|          104| 29| 50000|2017-06-01|     O|    Nancy Liu|2025-06-02|2025-06-02 13:56:...|
|        019|          103| 36| 62000|2015-08-01|     M|  Steven Chen|2025-06-02|2025-06-02 13:56:...|
|        020|          102| 32| 53000|2018-11-01|     F|    Grace Kim|2025-06-02|2025-06-02 13:56:...|
+-----------+-------------+---+------+----------+------+-------------+----------+--------------------+

In [0]:
# Write data as CSV
emp_final.write.format("csv").save("data/output/4/emp.csv")

In [0]:
# Additional Info
# Convert date into String and extract date information

from pyspark.sql.functions import date_format
emp_final.withColumn("date_string", date_format(col("hire_date"), 'dd/MM/yyyy')).show()

+-----------+-------------+---+------+----------+------+-------------+----------+--------------------+-----------+
|employee_id|department_id|age|salary| hire_date|gender|         name|  date_now|       timestamp_now|date_string|
+-----------+-------------+---+------+----------+------+-------------+----------+--------------------+-----------+
|        001|          101| 30| 50000|2015-01-01|     M|     Zohn Doe|2025-06-02|2025-06-02 14:03:...| 01/01/2015|
|        002|          101| 25| 45000|2016-02-15|     F|   Zane Smith|2025-06-02|2025-06-02 14:03:...| 15/02/2016|
|        003|          102| 35| 55000|2014-05-01|     M|    Bob Brown|2025-06-02|2025-06-02 14:03:...| 01/05/2014|
|        004|          102| 28| 48000|2017-09-30|     F|    Alice Lee|2025-06-02|2025-06-02 14:03:...| 30/09/2017|
|        005|          103| 40| 60000|2013-04-01|     M|    Zack Chan|2025-06-02|2025-06-02 14:03:...| 01/04/2013|
|        006|          103| 32| 52000|2018-07-01|     F|    Zill Wong|2025-06-02|2025-06-02 14:03:...| 01/07/2018|
|        007|          101| 42| 70000|2012-03-15|     M|Zames Zohnson|2025-06-02|2025-06-02 14:03:...| 15/03/2012|
|        008|          102| 29| 51000|2019-10-01|     F|     Kate Kim|2025-06-02|2025-06-02 14:03:...| 01/10/2019|
|        009|          103| 33| 58000|2016-06-01|     M|      Tom Tan|2025-06-02|2025-06-02 14:03:...| 01/06/2016|
|        010|          104| 27| 47000|2018-08-01|     F|     Lisa Lee|2025-06-02|2025-06-02 14:03:...| 01/08/2018|
|        011|          104| 38| 65000|2015-11-01|     M|   David Park|2025-06-02|2025-06-02 14:03:...| 01/11/2015|
|        012|          105| 31| 54000|2017-02-15|     F|   Susan Chen|2025-06-02|2025-06-02 14:03:...| 15/02/2017|
|        013|          106| 45| 75000|2011-07-01|     M|    Brian Kim|2025-06-02|2025-06-02 14:03:...| 01/07/2011|
|        014|          107| 26| 46000|2019-01-01|     F|    Emily Lee|2025-06-02|2025-06-02 14:03:...| 01/01/2019|
|        015|          106| 37| 63000|2014-09-30|     M|  Michael Lee|2025-06-02|2025-06-02 14:03:...| 30/09/2014|
|        016|          107| 30| 49000|2018-04-01|     F|  Kelly Zhang|2025-06-02|2025-06-02 14:03:...| 01/04/2018|
|        017|          105| 34| 57000|2016-03-15|     M|  George Wang|2025-06-02|2025-06-02 14:03:...| 15/03/2016|
|        018|          104| 29| 50000|2017-06-01|     O|    Nancy Liu|2025-06-02|2025-06-02 14:03:...| 01/06/2017|
|        019|          103| 36| 62000|2015-08-01|     M|  Steven Chen|2025-06-02|2025-06-02 14:03:...| 01/08/2015|
|        020|          102| 32| 53000|2018-11-01|     F|    Grace Kim|2025-06-02|2025-06-02 14:03:...| 01/11/2018|
+-----------+-------------+---+------+----------+------+-------------+----------+--------------------+-----------+

In [0]:

emp_final.withColumn("date_year", date_format(col("hire_date"), 'yyyy')).show()

+-----------+-------------+---+------+----------+------+-------------+----------+--------------------+---------+
|employee_id|department_id|age|salary| hire_date|gender|         name|  date_now|       timestamp_now|date_year|
+-----------+-------------+---+------+----------+------+-------------+----------+--------------------+---------+
|        001|          101| 30| 50000|2015-01-01|     M|     Zohn Doe|2025-06-02|2025-06-02 14:04:...|     2015|
|        002|          101| 25| 45000|2016-02-15|     F|   Zane Smith|2025-06-02|2025-06-02 14:04:...|     2016|
|        003|          102| 35| 55000|2014-05-01|     M|    Bob Brown|2025-06-02|2025-06-02 14:04:...|     2014|
|        004|          102| 28| 48000|2017-09-30|     F|    Alice Lee|2025-06-02|2025-06-02 14:04:...|     2017|
|        005|          103| 40| 60000|2013-04-01|     M|    Zack Chan|2025-06-02|2025-06-02 14:04:...|     2013|
|        006|          103| 32| 52000|2018-07-01|     F|    Zill Wong|2025-06-02|2025-06-02 14:04:...|     2018|
|        007|          101| 42| 70000|2012-03-15|     M|Zames Zohnson|2025-06-02|2025-06-02 14:04:...|     2012|
|        008|          102| 29| 51000|2019-10-01|     F|     Kate Kim|2025-06-02|2025-06-02 14:04:...|     2019|
|        009|          103| 33| 58000|2016-06-01|     M|      Tom Tan|2025-06-02|2025-06-02 14:04:...|     2016|
|        010|          104| 27| 47000|2018-08-01|     F|     Lisa Lee|2025-06-02|2025-06-02 14:04:...|     2018|
|        011|          104| 38| 65000|2015-11-01|     M|   David Park|2025-06-02|2025-06-02 14:04:...|     2015|
|        012|          105| 31| 54000|2017-02-15|     F|   Susan Chen|2025-06-02|2025-06-02 14:04:...|     2017|
|        013|          106| 45| 75000|2011-07-01|     M|    Brian Kim|2025-06-02|2025-06-02 14:04:...|     2011|
|        014|          107| 26| 46000|2019-01-01|     F|    Emily Lee|2025-06-02|2025-06-02 14:04:...|     2019|
|        015|          106| 37| 63000|2014-09-30|     M|  Michael Lee|2025-06-02|2025-06-02 14:04:...|     2014|
|        016|          107| 30| 49000|2018-04-01|     F|  Kelly Zhang|2025-06-02|2025-06-02 14:04:...|     2018|
|        017|          105| 34| 57000|2016-03-15|     M|  George Wang|2025-06-02|2025-06-02 14:04:...|     2016|
|        018|          104| 29| 50000|2017-06-01|     O|    Nancy Liu|2025-06-02|2025-06-02 14:04:...|     2017|
|        019|          103| 36| 62000|2015-08-01|     M|  Steven Chen|2025-06-02|2025-06-02 14:04:...|     2015|
|        020|          102| 32| 53000|2018-11-01|     F|    Grace Kim|2025-06-02|2025-06-02 14:04:...|     2018|
+-----------+-------------+---+------+----------+------+-------------+----------+--------------------+---------+

In [0]:
emp_final.withColumn("date_year", date_format(col("timestamp_now"), 'z')).show()  #literal notation to extract 'zone' from timestamp column is 'z'

+-----------+-------------+---+------+----------+------+-------------+----------+--------------------+---------+
|employee_id|department_id|age|salary| hire_date|gender|         name|  date_now|       timestamp_now|date_year|
+-----------+-------------+---+------+----------+------+-------------+----------+--------------------+---------+
|        001|          101| 30| 50000|2015-01-01|     M|     Zohn Doe|2025-06-02|2025-06-02 14:06:...|      UTC|
|        002|          101| 25| 45000|2016-02-15|     F|   Zane Smith|2025-06-02|2025-06-02 14:06:...|      UTC|
|        003|          102| 35| 55000|2014-05-01|     M|    Bob Brown|2025-06-02|2025-06-02 14:06:...|      UTC|
|        004|          102| 28| 48000|2017-09-30|     F|    Alice Lee|2025-06-02|2025-06-02 14:06:...|      UTC|
|        005|          103| 40| 60000|2013-04-01|     M|    Zack Chan|2025-06-02|2025-06-02 14:06:...|      UTC|
|        006|          103| 32| 52000|2018-07-01|     F|    Zill Wong|2025-06-02|2025-06-02 14:06:...|      UTC|
|        007|          101| 42| 70000|2012-03-15|     M|Zames Zohnson|2025-06-02|2025-06-02 14:06:...|      UTC|
|        008|          102| 29| 51000|2019-10-01|     F|     Kate Kim|2025-06-02|2025-06-02 14:06:...|      UTC|
|        009|          103| 33| 58000|2016-06-01|     M|      Tom Tan|2025-06-02|2025-06-02 14:06:...|      UTC|
|        010|          104| 27| 47000|2018-08-01|     F|     Lisa Lee|2025-06-02|2025-06-02 14:06:...|      UTC|
|        011|          104| 38| 65000|2015-11-01|     M|   David Park|2025-06-02|2025-06-02 14:06:...|      UTC|
|        012|          105| 31| 54000|2017-02-15|     F|   Susan Chen|2025-06-02|2025-06-02 14:06:...|      UTC|
|        013|          106| 45| 75000|2011-07-01|     M|    Brian Kim|2025-06-02|2025-06-02 14:06:...|      UTC|
|        014|          107| 26| 46000|2019-01-01|     F|    Emily Lee|2025-06-02|2025-06-02 14:06:...|      UTC|
|        015|          106| 37| 63000|2014-09-30|     M|  Michael Lee|2025-06-02|2025-06-02 14:06:...|      UTC|
|        016|          107| 30| 49000|2018-04-01|     F|  Kelly Zhang|2025-06-02|2025-06-02 14:06:...|      UTC|
|        017|          105| 34| 57000|2016-03-15|     M|  George Wang|2025-06-02|2025-06-02 14:06:...|      UTC|
|        018|          104| 29| 50000|2017-06-01|     O|    Nancy Liu|2025-06-02|2025-06-02 14:06:...|      UTC|
|        019|          103| 36| 62000|2015-08-01|     M|  Steven Chen|2025-06-02|2025-06-02 14:06:...|      UTC|
|        020|          102| 32| 53000|2018-11-01|     F|    Grace Kim|2025-06-02|2025-06-02 14:06:...|      UTC|
+-----------+-------------+---+------+----------+------+-------------+----------+--------------------+---------+