In [0]:
df = spark.read.csv("/data/input/employee.csv", header= True)
df.show()

+-----------+-------------+----------+---+------+------+----------+
|employee_id|department_id|      name|age|gender|salary| hire_date|
+-----------+-------------+----------+---+------+------+----------+
|        002|          101|Jane Smith| 25|Female| 45000|2016-02-15|
|        004|          102| Alice Lee| 28|Female| 48000|2017-09-30|
|        003|          102| Bob Brown| 35|  Male| 55000|2014-05-01|
|        005|          103| Jack Chan| 40|  Male| 60000|2013-04-01|
|        001|          101|  John Doe| 30|  Male| 50000|2015-01-01|
+-----------+-------------+----------+---+------+------+----------+

In [0]:

df1=df.select(df.employee_id, df.name, df.salary)
df1.show()

+-----------+----------+------+
|employee_id|      name|salary|
+-----------+----------+------+
|        002|Jane Smith| 45000|
|        004| Alice Lee| 48000|
|        003| Bob Brown| 55000|
|        005| Jack Chan| 60000|
|        001|  John Doe| 50000|
+-----------+----------+------+

In [0]:
df1=df.select("employee_id","name","salary").orderBy(df.employee_id)
df1.show()

+-----------+----------+------+
|employee_id|      name|salary|
+-----------+----------+------+
|        001|  John Doe| 50000|
|        002|Jane Smith| 45000|
|        003| Bob Brown| 55000|
|        004| Alice Lee| 48000|
|        005| Jack Chan| 60000|
+-----------+----------+------+

In [0]:
df.show()

+-----------+-------------+----------+---+------+------+----------+
|employee_id|department_id|      name|age|gender|salary| hire_date|
+-----------+-------------+----------+---+------+------+----------+
|        002|          101|Jane Smith| 25|Female| 45000|2016-02-15|
|        004|          102| Alice Lee| 28|Female| 48000|2017-09-30|
|        003|          102| Bob Brown| 35|  Male| 55000|2014-05-01|
|        005|          103| Jack Chan| 40|  Male| 60000|2013-04-01|
|        001|          101|  John Doe| 30|  Male| 50000|2015-01-01|
+-----------+-------------+----------+---+------+------+----------+

In [0]:
df1=df.select(df.columns[1:5])
df1.show()

+-------------+----------+---+------+
|department_id|      name|age|gender|
+-------------+----------+---+------+
|          101|Jane Smith| 25|Female|
|          102| Alice Lee| 28|Female|
|          102| Bob Brown| 35|  Male|
|          103| Jack Chan| 40|  Male|
|          101|  John Doe| 30|  Male|
+-------------+----------+---+------+

In [0]:

sal1=df.withColumn("salary1",df.salary*10)
sal1.show()

+-----------+-------------+----------+---+------+------+----------+--------+
|employee_id|department_id|      name|age|gender|salary| hire_date| salary1|
+-----------+-------------+----------+---+------+------+----------+--------+
|        002|          101|Jane Smith| 25|Female| 45000|2016-02-15|450000.0|
|        004|          102| Alice Lee| 28|Female| 48000|2017-09-30|480000.0|
|        003|          102| Bob Brown| 35|  Male| 55000|2014-05-01|550000.0|
|        005|          103| Jack Chan| 40|  Male| 60000|2013-04-01|600000.0|
|        001|          101|  John Doe| 30|  Male| 50000|2015-01-01|500000.0|
+-----------+-------------+----------+---+------+------+----------+--------+

In [0]:
from pyspark.sql.functions import lit
gdf=df.withColumn("gender",lit("Unisex"))
gdf.show()

+-----------+-------------+----------+---+------+------+----------+
|employee_id|department_id|      name|age|gender|salary| hire_date|
+-----------+-------------+----------+---+------+------+----------+
|        002|          101|Jane Smith| 25|Unisex| 45000|2016-02-15|
|        004|          102| Alice Lee| 28|Unisex| 48000|2017-09-30|
|        003|          102| Bob Brown| 35|Unisex| 55000|2014-05-01|
|        005|          103| Jack Chan| 40|Unisex| 60000|2013-04-01|
|        001|          101|  John Doe| 30|Unisex| 50000|2015-01-01|
+-----------+-------------+----------+---+------+------+----------+

In [0]:
df.printSchema()

root
 |-- employee_id: string (nullable = true)
 |-- department_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- hire_date: string (nullable = true)

In [0]:
from pyspark.sql.functions import col
df=df.withColumn("salary",col("salary").cast("Integer"))  # Single

In [0]:

df=df.withColumn("employee_id",col("employee_id").cast("Integer")) \
        .withColumn("salary",col("salary").cast("Float"))   # Multiple

In [0]:
df=df.withColumnRenamed("name","employee_name")
df.show()

+-----------+-------------+-------------+---+------+-------+----------+
|employee_id|department_id|employee_name|age|gender| salary| hire_date|
+-----------+-------------+-------------+---+------+-------+----------+
|          2|          101|   Jane Smith| 25|Female|45000.0|2016-02-15|
|          4|          102|    Alice Lee| 28|Female|48000.0|2017-09-30|
|          3|          102|    Bob Brown| 35|  Male|55000.0|2014-05-01|
|          5|          103|    Jack Chan| 40|  Male|60000.0|2013-04-01|
|          1|          101|     John Doe| 30|  Male|50000.0|2015-01-01|
+-----------+-------------+-------------+---+------+-------+----------+

In [0]:
gender=df.filter(df.gender=="Female") # Single condition
gender.show()

+-----------+-------------+-------------+---+------+-------+----------+
|employee_id|department_id|employee_name|age|gender| salary| hire_date|
+-----------+-------------+-------------+---+------+-------+----------+
|          2|          101|   Jane Smith| 25|Female|45000.0|2016-02-15|
|          4|          102|    Alice Lee| 28|Female|48000.0|2017-09-30|
+-----------+-------------+-------------+---+------+-------+----------+

In [0]:
f=df.filter(col("gender")=="Female")
f.show()

+-----------+-------------+-------------+---+------+-------+----------+
|employee_id|department_id|employee_name|age|gender| salary| hire_date|
+-----------+-------------+-------------+---+------+-------+----------+
|          2|          101|   Jane Smith| 25|Female|45000.0|2016-02-15|
|          4|          102|    Alice Lee| 28|Female|48000.0|2017-09-30|
+-----------+-------------+-------------+---+------+-------+----------+

In [0]:
m=df.filter(df.gender!='Female')
m.show()

+-----------+-------------+-------------+---+------+-------+----------+
|employee_id|department_id|employee_name|age|gender| salary| hire_date|
+-----------+-------------+-------------+---+------+-------+----------+
|          3|          102|    Bob Brown| 35|  Male|55000.0|2014-05-01|
|          5|          103|    Jack Chan| 40|  Male|60000.0|2013-04-01|
|          1|          101|     John Doe| 30|  Male|50000.0|2015-01-01|
+-----------+-------------+-------------+---+------+-------+----------+

In [0]:
fil=df.filter((df.employee_name=="Jane Smith") & (df.salary>="40000.0")) # Multiple condition
fil.show()

+-----------+-------------+-------------+---+------+-------+----------+
|employee_id|department_id|employee_name|age|gender| salary| hire_date|
+-----------+-------------+-------------+---+------+-------+----------+
|          2|          101|   Jane Smith| 25|Female|45000.0|2016-02-15|
+-----------+-------------+-------------+---+------+-------+----------+

In [0]:
strts=df.filter(df.employee_name.startswith("Al")) #case-sensitive
strts.show()

+-----------+-------------+-------------+---+------+-------+----------+
|employee_id|department_id|employee_name|age|gender| salary| hire_date|
+-----------+-------------+-------------+---+------+-------+----------+
|          4|          102|    Alice Lee| 28|Female|48000.0|2017-09-30|
+-----------+-------------+-------------+---+------+-------+----------+

In [0]:
ends=df.filter(df.employee_name.endswith("n"))  # case-sensitive
ends.show()

+-----------+-------------+-------------+---+------+-------+----------+
|employee_id|department_id|employee_name|age|gender| salary| hire_date|
+-----------+-------------+-------------+---+------+-------+----------+
|          3|          102|    Bob Brown| 35|  Male|55000.0|2014-05-01|
|          5|          103|    Jack Chan| 40|  Male|60000.0|2013-04-01|
+-----------+-------------+-------------+---+------+-------+----------+

In [0]:
lke = df.filter(df.employee_name.like("%D%"))
lke.show()

+-----------+-------------+-------------+---+------+-------+----------+
|employee_id|department_id|employee_name|age|gender| salary| hire_date|
+-----------+-------------+-------------+---+------+-------+----------+
|          1|          101|     John Doe| 30|  Male|50000.0|2015-01-01|
+-----------+-------------+-------------+---+------+-------+----------+

In [0]:
df = spark.read.csv("/data/input/employee_dup.csv", inferSchema=True, header= True)
df.orderBy("employee_id").show()

+-----------+-------------+-------------+---+------+------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|
+-----------+-------------+-------------+---+------+------+----------+
|          1|          101|     John Doe| 30|  Male| 50000|2015-01-01|
|          2|          101|   Jane Smith| 25|Female| 45000|2016-02-15|
|          3|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|
|          4|          102|    Alice Lee| 28|Female| 48000|2017-09-30|
|          5|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|
|          6|          103|    Jill Wong| 32|Female| 52000|2018-07-01|
|          7|          101|James Johnson| 42|  Male|   LOW|2012-03-15|
|          8|          102|     Kate Kim| 29|Female| 51000|2019-10-01|
|          9|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|
|         10|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|
|         10|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|
|         10|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|
+-----------+-------------+-------------+---+------+------+----------+

### Ditinct/Duplicates

In [0]:
df.distinct().orderBy("employee_id").show()

+-----------+-------------+-------------+---+------+------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|
+-----------+-------------+-------------+---+------+------+----------+
|          1|          101|     John Doe| 30|  Male| 50000|2015-01-01|
|          2|          101|   Jane Smith| 25|Female| 45000|2016-02-15|
|          3|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|
|          4|          102|    Alice Lee| 28|Female| 48000|2017-09-30|
|          5|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|
|          6|          103|    Jill Wong| 32|Female| 52000|2018-07-01|
|          7|          101|James Johnson| 42|  Male|   LOW|2012-03-15|
|          8|          102|     Kate Kim| 29|Female| 51000|2019-10-01|
|          9|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|
|         10|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|
+-----------+-------------+-------------+---+------+------+----------+

In [0]:
df.dropDuplicates(["employee_id","salary"]).orderBy("employee_id").show()

+-----------+-------------+-------------+---+------+------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|
+-----------+-------------+-------------+---+------+------+----------+
|          1|          101|     John Doe| 30|  Male| 50000|2015-01-01|
|          2|          101|   Jane Smith| 25|Female| 45000|2016-02-15|
|          3|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|
|          4|          102|    Alice Lee| 28|Female| 48000|2017-09-30|
|          5|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|
|          6|          103|    Jill Wong| 32|Female| 52000|2018-07-01|
|          7|          101|James Johnson| 42|  Male|   LOW|2012-03-15|
|          8|          102|     Kate Kim| 29|Female| 51000|2019-10-01|
|          9|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|
|         10|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|
+-----------+-------------+-------------+---+------+------+----------+

In [0]:
df=df.dropDuplicates().orderBy("employee_id")
df.show()

+-----------+-------------+-------------+---+------+------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|
+-----------+-------------+-------------+---+------+------+----------+
|          1|          101|     John Doe| 30|  Male| 50000|2015-01-01|
|          2|          101|   Jane Smith| 25|Female| 45000|2016-02-15|
|          3|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|
|          4|          102|    Alice Lee| 28|Female| 48000|2017-09-30|
|          5|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|
|          6|          103|    Jill Wong| 32|Female| 52000|2018-07-01|
|          7|          101|James Johnson| 42|  Male|   LOW|2012-03-15|
|          8|          102|     Kate Kim| 29|Female| 51000|2019-10-01|
|          9|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|
|         10|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|
+-----------+-------------+-------------+---+------+------+----------+

In [0]:
df.sort(col("salary").asc(),col("name").desc()).show()
df1=df.sort(df.salary.asc(),df.name.desc()).show()

+-----------+-------------+-------------+---+------+------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|
+-----------+-------------+-------------+---+------+------+----------+
|          2|          101|   Jane Smith| 25|Female| 45000|2016-02-15|
|         10|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|
|          4|          102|    Alice Lee| 28|Female| 48000|2017-09-30|
|          1|          101|     John Doe| 30|  Male| 50000|2015-01-01|
|          8|          102|     Kate Kim| 29|Female| 51000|2019-10-01|
|          6|          103|    Jill Wong| 32|Female| 52000|2018-07-01|
|          3|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|
|          9|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|
|          5|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|
|          7|          101|James Johnson| 42|  Male|   LOW|2012-03-15|
+-----------+-------------+-------------+---+------+------+----------+

+-----------+-------------+-------------+---+------+------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|
+-----------+-------------+-------------+---+------+------+----------+
|          2|          101|   Jane Smith| 25|Female| 45000|2016-02-15|
|         10|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|
|          4|          102|    Alice Lee| 28|Female| 48000|2017-09-30|
|          1|          101|     John Doe| 30|  Male| 50000|2015-01-01|
|          8|          102|     Kate Kim| 29|Female| 51000|2019-10-01|
|          6|          103|    Jill Wong| 32|Female| 52000|2018-07-01|
|          3|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|
|          9|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|
|          5|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|
|          7|          101|James Johnson| 42|  Male|   LOW|2012-03-15|
+-----------+-------------+-------------+---+------+------+----------+

In [0]:
df.orderBy(col("salary").asc(),col("name").desc()).show()

+-----------+-------------+-------------+---+------+------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|
+-----------+-------------+-------------+---+------+------+----------+
|          2|          101|   Jane Smith| 25|Female| 45000|2016-02-15|
|         10|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|
|          4|          102|    Alice Lee| 28|Female| 48000|2017-09-30|
|          1|          101|     John Doe| 30|  Male| 50000|2015-01-01|
|          8|          102|     Kate Kim| 29|Female| 51000|2019-10-01|
|          6|          103|    Jill Wong| 32|Female| 52000|2018-07-01|
|          3|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|
|          9|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|
|          5|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|
|          7|          101|James Johnson| 42|  Male|   LOW|2012-03-15|
+-----------+-------------+-------------+---+------+------+----------+

### Aggreation and GroupBy

In [0]:
df=df.withColumn("salary",col("salary").cast("Float"))
df.groupBy("gender").sum("salary").show() # Single

+------+-----------+
|gender|sum(salary)|
+------+-----------+
|Female|   243000.0|
|  Male|   223000.0|
+------+-----------+

In [0]:
df.filter(col("salary").isNotNull()).groupBy("gender", "salary").max("salary").show() # Multiple

+------+-------+-----------+
|gender| salary|max(salary)|
+------+-------+-----------+
|  Male|55000.0|    55000.0|
|Female|45000.0|    45000.0|
|  Male|60000.0|    60000.0|
|Female|52000.0|    52000.0|
|Female|47000.0|    47000.0|
|Female|51000.0|    51000.0|
|  Male|58000.0|    58000.0|
|Female|48000.0|    48000.0|
|  Male|50000.0|    50000.0|
+------+-------+-----------+

In [0]:
df.groupBy("gender").count().show()

+------+-----+
|gender|count|
+------+-----+
|Female|    5|
|  Male|    5|
+------+-----+

### Joins

In [0]:
/data/input/datasets/employee_recs.csv
/data/input/datasets/department_recs.csv

In [0]:
empdf=spark.read.csv("/data/input/emp.csv", header=True, inferSchema=True)   # .orderBy("department_id")
empdf.show()

+-----------+-------------+-------------+---+------+------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|
+-----------+-------------+-------------+---+------+------+----------+
|         17|          105|  George Wang| 34|  Male| 57000|2016-03-15|
|         18|          104|    Nancy Liu| 29|Female| 50000|2017-06-01|
|         19|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|
|         20|          102|    Grace Kim| 32|Female| 53000|2018-11-01|
|          7|          101|James Johnson| 42|  Male| 70000|2012-03-15|
|          8|          102|     Kate Kim| 29|Female| 51000|2019-10-01|
|          9|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|
|         10|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|
|         15|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|
|         16|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|
|         11|          104|   David Park| 38|  Male| 65000|2015-11-01|
|         12|          105|   Susan Chen| 31|Female| 54000|2017-02-15|
|          1|          101|     John Doe| 30|  Male| 50000|2015-01-01|
|          2|          101|   Jane Smith| 25|Female| 45000|2016-02-15|
|          3|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|
|          4|          102|    Alice Lee| 28|Female| 48000|2017-09-30|
|          5|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|
|          6|          103|    Jill Wong| 32|Female| 52000|2018-07-01|
|         13|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|
|         14|          107|    Emily Lee| 26|Female| 46000|2019-01-01|
+-----------+-------------+-------------+---+------+------+----------+

In [0]:
deptdf=spark.read.csv("/data/input/dept.csv", header=True, inferSchema=True)
deptdf.show(truncate=False)

+-------------+---------------+----------------------+
|department_id|department_code|department_name       |
+-------------+---------------+----------------------+
|105          |Operations     |Operations Department |
|106          |DNA            |Data and Analytics    |
|110          |Admin          |Administration        |
|111          |IT             |Information Technology|
|104          |Marketing      |Marketing & Sales     |
|109          |Finance        |Finance Department    |
|102          |BI             |Business Intelligence |
|101          |DNA            |Data and Analytics    |
|107          |QA             |Quality Assurance     |
|108          |HR             |Human Resources       |
+-------------+---------------+----------------------+

In [0]:
empdf.join(deptdf,"department_id", "inner").show(n=5,truncate=False) # for same named column
# empdf.join(deptdf,empdf.col1==deptdf.col1, "inner").show() # for different named join column

+-------------+-----------+-------------+---+------+------+----------+---------------+---------------------+
|department_id|employee_id|name         |age|gender|salary|hire_date |department_code|department_name      |
+-------------+-----------+-------------+---+------+------+----------+---------------+---------------------+
|105          |17         |George Wang  |34 |Male  |57000 |2016-03-15|Operations     |Operations Department|
|104          |18         |Nancy Liu    |29 |Female|50000 |2017-06-01|Marketing      |Marketing & Sales    |
|102          |20         |Grace Kim    |32 |Female|53000 |2018-11-01|BI             |Business Intelligence|
|101          |7          |James Johnson|42 |Male  |70000 |2012-03-15|DNA            |Data and Analytics   |
|102          |8          |Kate Kim     |29 |Female|51000 |2019-10-01|BI             |Business Intelligence|
+-------------+-----------+-------------+---+------+------+----------+---------------+---------------------+
only showing top 5 rows

In [0]:
empdf.join(deptdf,"department_id", "left").show(n=5, truncate=False)

+-------------+-----------+-------------+---+------+------+----------+---------------+---------------------+
|department_id|employee_id|name         |age|gender|salary|hire_date |department_code|department_name      |
+-------------+-----------+-------------+---+------+------+----------+---------------+---------------------+
|105          |17         |George Wang  |34 |Male  |57000 |2016-03-15|Operations     |Operations Department|
|104          |18         |Nancy Liu    |29 |Female|50000 |2017-06-01|Marketing      |Marketing & Sales    |
|103          |19         |Steven Chen  |36 |Male  |62000 |2015-08-01|null           |null                 |
|102          |20         |Grace Kim    |32 |Female|53000 |2018-11-01|BI             |Business Intelligence|
|101          |7          |James Johnson|42 |Male  |70000 |2012-03-15|DNA            |Data and Analytics   |
+-------------+-----------+-------------+---+------+------+----------+---------------+---------------------+
only showing top 5 rows

In [0]:
empdf.join(deptdf,"department_id", "right").show(n=5, truncate=False)

+-------------+-----------+-----------+----+------+------+----------+---------------+---------------------+
|department_id|employee_id|name       |age |gender|salary|hire_date |department_code|department_name      |
+-------------+-----------+-----------+----+------+------+----------+---------------+---------------------+
|105          |12         |Susan Chen |31  |Female|54000 |2017-02-15|Operations     |Operations Department|
|105          |17         |George Wang|34  |Male  |57000 |2016-03-15|Operations     |Operations Department|
|106          |13         |Brian Kim  |45  |Male  |75000 |2011-07-01|DNA            |Data and Analytics   |
|106          |15         |Michael Lee|37  |Male  |63000 |2014-09-30|DNA            |Data and Analytics   |
|110          |null       |null       |null|null  |null  |null      |Admin          |Administration       |
+-------------+-----------+-----------+----+------+------+----------+---------------+---------------------+
only showing top 5 rows

In [0]:
empdf.join(deptdf,"department_id", "fullouter").orderBy(col("department_id").desc()).show(n=15, truncate=False)

+-------------+-----------+-----------+----+------+------+----------+---------------+----------------------+
|department_id|employee_id|name       |age |gender|salary|hire_date |department_code|department_name       |
+-------------+-----------+-----------+----+------+------+----------+---------------+----------------------+
|111          |null       |null       |null|null  |null  |null      |IT             |Information Technology|
|110          |null       |null       |null|null  |null  |null      |Admin          |Administration        |
|109          |null       |null       |null|null  |null  |null      |Finance        |Finance Department    |
|108          |null       |null       |null|null  |null  |null      |HR             |Human Resources       |
|107          |16         |Kelly Zhang|30  |Female|49000 |2018-04-01|QA             |Quality Assurance     |
|107          |14         |Emily Lee  |26  |Female|46000 |2019-01-01|QA             |Quality Assurance     |
|106          |15         |Michael Lee|37  |Male  |63000 |2014-09-30|DNA            |Data and Analytics    |
|106          |13         |Brian Kim  |45  |Male  |75000 |2011-07-01|DNA            |Data and Analytics    |
|105          |17         |George Wang|34  |Male  |57000 |2016-03-15|Operations     |Operations Department |
|105          |12         |Susan Chen |31  |Female|54000 |2017-02-15|Operations     |Operations Department |
|104          |18         |Nancy Liu  |29  |Female|50000 |2017-06-01|Marketing      |Marketing & Sales     |
|104          |10         |Lisa Lee   |27  |Female|47000 |2018-08-01|Marketing      |Marketing & Sales     |
|104          |11         |David Park |38  |Male  |65000 |2015-11-01|Marketing      |Marketing & Sales     |
|103          |19         |Steven Chen|36  |Male  |62000 |2015-08-01|null           |null                  |
|103          |9          |Tom Tan    |33  |Male  |58000 |2016-06-01|null           |null                  |
+-------------+-----------+-----------+----+------+------+----------+---------------+----------------------+
only showing top 15 rows

In [0]:
empdf.join(deptdf,"department_id", "left").filter(col("department_id").isin('107','103')).show(n=6, truncate=False)

+-------------+-----------+-----------+---+------+------+----------+---------------+-----------------+
|department_id|employee_id|name       |age|gender|salary|hire_date |department_code|department_name  |
+-------------+-----------+-----------+---+------+------+----------+---------------+-----------------+
|103          |19         |Steven Chen|36 |Male  |62000 |2015-08-01|null           |null             |
|103          |9          |Tom Tan    |33 |Male  |58000 |2016-06-01|null           |null             |
|107          |16         |Kelly Zhang|30 |Female|49000 |2018-04-01|QA             |Quality Assurance|
|103          |5          |Jack Chan  |40 |Male  |60000 |2013-04-01|null           |null             |
|103          |6          |Jill Wong  |32 |Female|52000 |2018-07-01|null           |null             |
|107          |14         |Emily Lee  |26 |Female|46000 |2019-01-01|QA             |Quality Assurance|
+-------------+-----------+-----------+---+------+------+----------+---------------+-----------------+

In [0]:
empdf.join(deptdf,"department_id", "leftsemi").filter(col("department_id").isin('107','103')).show(n=5, truncate=False) # Only matching frm left

+-------------+-----------+-----------+---+------+------+----------+
|department_id|employee_id|name       |age|gender|salary|hire_date |
+-------------+-----------+-----------+---+------+------+----------+
|107          |16         |Kelly Zhang|30 |Female|49000 |2018-04-01|
|107          |14         |Emily Lee  |26 |Female|46000 |2019-01-01|
+-------------+-----------+-----------+---+------+------+----------+

In [0]:
empdf.join(deptdf,"department_id", "leftanti").filter(col("department_id").isin('107','103')).show(n=50, truncate=False) #Only non-matching frm left

+-------------+-----------+-----------+---+------+------+----------+
|department_id|employee_id|name       |age|gender|salary|hire_date |
+-------------+-----------+-----------+---+------+------+----------+
|103          |19         |Steven Chen|36 |Male  |62000 |2015-08-01|
|103          |9          |Tom Tan    |33 |Male  |58000 |2016-06-01|
|103          |5          |Jack Chan  |40 |Male  |60000 |2013-04-01|
|103          |6          |Jill Wong  |32 |Female|52000 |2018-07-01|
+-------------+-----------+-----------+---+------+------+----------+

In [0]:
empdf.join(deptdf,"department_id", "cross").orderBy(col("department_id")).show(n=50, truncate=False)

+-------------+-----------+-------------+---+------+------+----------+---------------+---------------------+
|department_id|employee_id|name         |age|gender|salary|hire_date |department_code|department_name      |
+-------------+-----------+-------------+---+------+------+----------+---------------+---------------------+
|101          |1          |John Doe     |30 |Male  |50000 |2015-01-01|DNA            |Data and Analytics   |
|101          |7          |James Johnson|42 |Male  |70000 |2012-03-15|DNA            |Data and Analytics   |
|101          |2          |Jane Smith   |25 |Female|45000 |2016-02-15|DNA            |Data and Analytics   |
|102          |8          |Kate Kim     |29 |Female|51000 |2019-10-01|BI             |Business Intelligence|
|102          |20         |Grace Kim    |32 |Female|53000 |2018-11-01|BI             |Business Intelligence|
|102          |3          |Bob Brown    |35 |Male  |55000 |2014-05-01|BI             |Business Intelligence|
|102          |4          |Alice Lee    |28 |Female|48000 |2017-09-30|BI             |Business Intelligence|
|104          |10         |Lisa Lee     |27 |Female|47000 |2018-08-01|Marketing      |Marketing & Sales    |
|104          |11         |David Park   |38 |Male  |65000 |2015-11-01|Marketing      |Marketing & Sales    |
|104          |18         |Nancy Liu    |29 |Female|50000 |2017-06-01|Marketing      |Marketing & Sales    |
|105          |12         |Susan Chen   |31 |Female|54000 |2017-02-15|Operations     |Operations Department|
|105          |17         |George Wang  |34 |Male  |57000 |2016-03-15|Operations     |Operations Department|
|106          |13         |Brian Kim    |45 |Male  |75000 |2011-07-01|DNA            |Data and Analytics   |
|106          |15         |Michael Lee  |37 |Male  |63000 |2014-09-30|DNA            |Data and Analytics   |
|107          |14         |Emily Lee    |26 |Female|46000 |2019-01-01|QA             |Quality Assurance    |
|107          |16         |Kelly Zhang  |30 |Female|49000 |2018-04-01|QA             |Quality Assurance    |
+-------------+-----------+-------------+---+------+------+----------+---------------+---------------------+

### Union/Union All

In [0]:
import pyspark
from pyspark.sql import SparkSession

emp1_data = [
    [1, 'Alice', 'Sales', 50000],
    [2, 'Bob', 'IT', 60000],
    [3, 'Charlie', 'Finance', 56000],
    [4, 'David', 'HR', 52000],
    [5, 'Eva', 'Marketing', 58000]
]
col1 = ['id', 'name', 'department', 'salary']
emp1 = spark.createDataFrame(emp1_data,col1)
emp1.show()

+---+-------+----------+------+
| id|   name|department|salary|
+---+-------+----------+------+
|  1|  Alice|     Sales| 50000|
|  2|    Bob|        IT| 60000|
|  3|Charlie|   Finance| 56000|
|  4|  David|        HR| 52000|
|  5|    Eva| Marketing| 58000|
+---+-------+----------+------+

In [0]:
emp2_data = [
    [6, 'Frank', 'Marketing', 51000],
    [7, 'Grace', 'IT', 62000],
    [3, 'Charlie', 'Finance', 56000],
    [9, 'Ian', 'Sales', 53000],
    [10, 'Judy', 'HR', 59000]
]
cols2 = ['id', 'name', 'department', 'salary']

emp2 = spark.createDataFrame(data=emp2_data,schema=cols2)
emp2.show()

+---+-------+----------+------+
| id|   name|department|salary|
+---+-------+----------+------+
|  6|  Frank| Marketing| 51000|
|  7|  Grace|        IT| 62000|
|  3|Charlie|   Finance| 56000|
|  9|    Ian|     Sales| 53000|
| 10|   Judy|        HR| 59000|
+---+-------+----------+------+

In [0]:
emp1.union(emp2).show()  # We are getting duplicates for 'Charlie' with UNION as well here!!

+---+-------+----------+------+
| id|   name|department|salary|
+---+-------+----------+------+
|  1|  Alice|     Sales| 50000|
|  2|    Bob|        IT| 60000|
|  3|Charlie|   Finance| 56000|
|  4|  David|        HR| 52000|
|  5|    Eva| Marketing| 58000|
|  6|  Frank| Marketing| 51000|
|  7|  Grace|        IT| 62000|
|  3|Charlie|   Finance| 56000|
|  9|    Ian|     Sales| 53000|
| 10|   Judy|        HR| 59000|
+---+-------+----------+------+

In [0]:
emp1.union(emp2).distinct().show()  # So use DISTINCT to remove duplicates here with UNION

+---+-------+----------+------+
| id|   name|department|salary|
+---+-------+----------+------+
|  1|  Alice|     Sales| 50000|
|  2|    Bob|        IT| 60000|
|  3|Charlie|   Finance| 56000|
|  4|  David|        HR| 52000|
|  5|    Eva| Marketing| 58000|
|  6|  Frank| Marketing| 51000|
|  7|  Grace|        IT| 62000|
|  9|    Ian|     Sales| 53000|
| 10|   Judy|        HR| 59000|
+---+-------+----------+------+

IMPORTANT: 
- In Apache Spark, the union() method does not remove duplicates by default. 
- It simply concatenates the datasets or DataFrames, similar to the SQL UNION ALL operation, which includes all records from both inputs, including duplicates
- So use '**DISTINCT**' with '**UNION**' to not see duplicates!
- 'unionAll' has been deprecated from from Spark 2.0 and later versions. It is recommended to use 'union'(without duplicates)

In [0]:
emp1.unionAll(emp2).show()

+---+-------+----------+------+
| id|   name|department|salary|
+---+-------+----------+------+
|  1|  Alice|     Sales| 50000|
|  2|    Bob|        IT| 60000|
|  3|Charlie|   Finance| 55000|
|  4|  David|        HR| 52000|
|  5|    Eva| Marketing| 58000|
|  6|  Frank| Marketing| 51000|
|  7|  Grace|        IT| 62000|
|  8|  Helen|   Finance| 56000|
|  9|    Ian|     Sales| 53000|
| 10|   Judy|        HR| 59000|
+---+-------+----------+------+

### fill and fillna

In [0]:
from pyspark.sql.functions import col
filldf = empdf.join(deptdf,"department_id", "fullouter").filter(col("department_id").isin('103','104','108','109')).orderBy(col("department_id"))
filldf.show(n=50)

+-------------+-----------+-----------+----+------+------+----------+---------------+------------------+
|department_id|employee_id|       name| age|gender|salary| hire_date|department_code|   department_name|
+-------------+-----------+-----------+----+------+------+----------+---------------+------------------+
|          103|         19|Steven Chen|  36|  Male| 62000|2015-08-01|           null|              null|
|          103|          9|    Tom Tan|  33|  Male| 58000|2016-06-01|           null|              null|
|          103|          5|  Jack Chan|  40|  Male| 60000|2013-04-01|           null|              null|
|          103|          6|  Jill Wong|  32|Female| 52000|2018-07-01|           null|              null|
|          104|         18|  Nancy Liu|  29|Female| 50000|2017-06-01|      Marketing| Marketing & Sales|
|          104|         10|   Lisa Lee|  27|Female| 47000|2018-08-01|      Marketing| Marketing & Sales|
|          104|         11| David Park|  38|  Male| 65000|2015-11-01|      Marketing| Marketing & Sales|
|          108|       null|       null|null|  null|  null|      null|             HR|   Human Resources|
|          109|       null|       null|null|  null|  null|      null|        Finance|Finance Department|
+-------------+-----------+-----------+----+------+------+----------+---------------+------------------+

In [0]:
filldf.na.fill("").show(n=50)  # this works only for string columns, it wont work for age, salary, id, hire_date

+-------------+-----------+-----------+----+------+------+----------+---------------+------------------+
|department_id|employee_id|       name| age|gender|salary| hire_date|department_code|   department_name|
+-------------+-----------+-----------+----+------+------+----------+---------------+------------------+
|          103|         19|Steven Chen|  36|  Male| 62000|2015-08-01|               |                  |
|          103|          9|    Tom Tan|  33|  Male| 58000|2016-06-01|               |                  |
|          103|          5|  Jack Chan|  40|  Male| 60000|2013-04-01|               |                  |
|          103|          6|  Jill Wong|  32|Female| 52000|2018-07-01|               |                  |
|          104|         18|  Nancy Liu|  29|Female| 50000|2017-06-01|      Marketing| Marketing & Sales|
|          104|         10|   Lisa Lee|  27|Female| 47000|2018-08-01|      Marketing| Marketing & Sales|
|          104|         11| David Park|  38|  Male| 65000|2015-11-01|      Marketing| Marketing & Sales|
|          108|       null|           |null|      |  null|      null|             HR|   Human Resources|
|          109|       null|           |null|      |  null|      null|        Finance|Finance Department|
+-------------+-----------+-----------+----+------+------+----------+---------------+------------------+

In [0]:
filldf.fillna("").show() # fillna also works same

+-------------+-----------+-----------+----+------+------+----------+---------------+------------------+
|department_id|employee_id|       name| age|gender|salary| hire_date|department_code|   department_name|
+-------------+-----------+-----------+----+------+------+----------+---------------+------------------+
|          103|         19|Steven Chen|  36|  Male| 62000|2015-08-01|               |                  |
|          103|          9|    Tom Tan|  33|  Male| 58000|2016-06-01|               |                  |
|          103|          5|  Jack Chan|  40|  Male| 60000|2013-04-01|               |                  |
|          103|          6|  Jill Wong|  32|Female| 52000|2018-07-01|               |                  |
|          104|         18|  Nancy Liu|  29|Female| 50000|2017-06-01|      Marketing| Marketing & Sales|
|          104|         10|   Lisa Lee|  27|Female| 47000|2018-08-01|      Marketing| Marketing & Sales|
|          104|         11| David Park|  38|  Male| 65000|2015-11-01|      Marketing| Marketing & Sales|
|          108|       null|           |null|      |  null|      null|             HR|   Human Resources|
|          109|       null|           |null|      |  null|      null|        Finance|Finance Department|
+-------------+-----------+-----------+----+------+------+----------+---------------+------------------+

In [0]:
filldf.fillna(0).show() # For numeric columns like age, id, salary

+-------------+-----------+-----------+---+------+------+----------+---------------+------------------+
|department_id|employee_id|       name|age|gender|salary| hire_date|department_code|   department_name|
+-------------+-----------+-----------+---+------+------+----------+---------------+------------------+
|          103|         19|Steven Chen| 36|  Male| 62000|2015-08-01|           null|              null|
|          103|          9|    Tom Tan| 33|  Male| 58000|2016-06-01|           null|              null|
|          103|          5|  Jack Chan| 40|  Male| 60000|2013-04-01|           null|              null|
|          103|          6|  Jill Wong| 32|Female| 52000|2018-07-01|           null|              null|
|          104|         18|  Nancy Liu| 29|Female| 50000|2017-06-01|      Marketing| Marketing & Sales|
|          104|         10|   Lisa Lee| 27|Female| 47000|2018-08-01|      Marketing| Marketing & Sales|
|          104|         11| David Park| 38|  Male| 65000|2015-11-01|      Marketing| Marketing & Sales|
|          108|          0|       null|  0|  null|     0|      null|             HR|   Human Resources|
|          109|          0|       null|  0|  null|     0|      null|        Finance|Finance Department|
+-------------+-----------+-----------+---+------+------+----------+---------------+------------------+

In [0]:
filldf.fillna({"age": 0, "salary": 0}).show() # for only speccific numeric columns

+-------------+-----------+-----------+---+------+------+----------+---------------+------------------+
|department_id|employee_id|       name|age|gender|salary| hire_date|department_code|   department_name|
+-------------+-----------+-----------+---+------+------+----------+---------------+------------------+
|          103|         19|Steven Chen| 36|  Male| 62000|2015-08-01|           null|              null|
|          103|          9|    Tom Tan| 33|  Male| 58000|2016-06-01|           null|              null|
|          103|          5|  Jack Chan| 40|  Male| 60000|2013-04-01|           null|              null|
|          103|          6|  Jill Wong| 32|Female| 52000|2018-07-01|           null|              null|
|          104|         18|  Nancy Liu| 29|Female| 50000|2017-06-01|      Marketing| Marketing & Sales|
|          104|         10|   Lisa Lee| 27|Female| 47000|2018-08-01|      Marketing| Marketing & Sales|
|          104|         11| David Park| 38|  Male| 65000|2015-11-01|      Marketing| Marketing & Sales|
|          108|       null|       null|  0|  null|     0|      null|             HR|   Human Resources|
|          109|       null|       null|  0|  null|     0|      null|        Finance|Finance Department|
+-------------+-----------+-----------+---+------+------+----------+---------------+------------------+

In [0]:

from datetime import date
filldf.fillna({"hire_date": "2025"}).show() # for date columns  -it implicity converted 2025 into YYYY-MM-DD format!

+-------------+-----------+-----------+----+------+------+----------+---------------+------------------+
|department_id|employee_id|       name| age|gender|salary| hire_date|department_code|   department_name|
+-------------+-----------+-----------+----+------+------+----------+---------------+------------------+
|          103|         19|Steven Chen|  36|  Male| 62000|2015-08-01|           null|              null|
|          103|          9|    Tom Tan|  33|  Male| 58000|2016-06-01|           null|              null|
|          103|          5|  Jack Chan|  40|  Male| 60000|2013-04-01|           null|              null|
|          103|          6|  Jill Wong|  32|Female| 52000|2018-07-01|           null|              null|
|          104|         18|  Nancy Liu|  29|Female| 50000|2017-06-01|      Marketing| Marketing & Sales|
|          104|         10|   Lisa Lee|  27|Female| 47000|2018-08-01|      Marketing| Marketing & Sales|
|          104|         11| David Park|  38|  Male| 65000|2015-11-01|      Marketing| Marketing & Sales|
|          108|       null|       null|null|  null|  null|2025-01-01|             HR|   Human Resources|
|          109|       null|       null|null|  null|  null|2025-01-01|        Finance|Finance Department|
+-------------+-----------+-----------+----+------+------+----------+---------------+------------------+

In [0]:
filldf.na.fill("UKNOWN").show(n=50)

+-------------+-----------+-----------+----+------+------+----------+---------------+------------------+
|department_id|employee_id|       name| age|gender|salary| hire_date|department_code|   department_name|
+-------------+-----------+-----------+----+------+------+----------+---------------+------------------+
|          103|         19|Steven Chen|  36|  Male| 62000|2015-08-01|         UKNOWN|            UKNOWN|
|          103|          9|    Tom Tan|  33|  Male| 58000|2016-06-01|         UKNOWN|            UKNOWN|
|          103|          5|  Jack Chan|  40|  Male| 60000|2013-04-01|         UKNOWN|            UKNOWN|
|          103|          6|  Jill Wong|  32|Female| 52000|2018-07-01|         UKNOWN|            UKNOWN|
|          104|         18|  Nancy Liu|  29|Female| 50000|2017-06-01|      Marketing| Marketing & Sales|
|          104|         10|   Lisa Lee|  27|Female| 47000|2018-08-01|      Marketing| Marketing & Sales|
|          104|         11| David Park|  38|  Male| 65000|2015-11-01|      Marketing| Marketing & Sales|
|          108|       null|     UKNOWN|null|UKNOWN|  null|      null|             HR|   Human Resources|
|          109|       null|     UKNOWN|null|UKNOWN|  null|      null|        Finance|Finance Department|
+-------------+-----------+-----------+----+------+------+----------+---------------+------------------+

In [0]:
filldf.na.fill("",["department_code"]).show(n=50) # Single column

+-------------+-----------+-----------+----+------+------+----------+---------------+------------------+
|department_id|employee_id|       name| age|gender|salary| hire_date|department_code|   department_name|
+-------------+-----------+-----------+----+------+------+----------+---------------+------------------+
|          103|         19|Steven Chen|  36|  Male| 62000|2015-08-01|               |              null|
|          103|          9|    Tom Tan|  33|  Male| 58000|2016-06-01|               |              null|
|          103|          5|  Jack Chan|  40|  Male| 60000|2013-04-01|               |              null|
|          103|          6|  Jill Wong|  32|Female| 52000|2018-07-01|               |              null|
|          104|         18|  Nancy Liu|  29|Female| 50000|2017-06-01|      Marketing| Marketing & Sales|
|          104|         10|   Lisa Lee|  27|Female| 47000|2018-08-01|      Marketing| Marketing & Sales|
|          104|         11| David Park|  38|  Male| 65000|2015-11-01|      Marketing| Marketing & Sales|
|          108|       null|       null|null|  null|  null|      null|             HR|   Human Resources|
|          109|       null|       null|null|  null|  null|      null|        Finance|Finance Department|
+-------------+-----------+-----------+----+------+------+----------+---------------+------------------+

In [0]:
filldf.na.fill("",["department_code"]).na.fill("",["gender"]).show(n=50) # Multiple columns

+-------------+-----------+-----------+----+------+------+----------+---------------+------------------+
|department_id|employee_id|       name| age|gender|salary| hire_date|department_code|   department_name|
+-------------+-----------+-----------+----+------+------+----------+---------------+------------------+
|          103|         19|Steven Chen|  36|  Male| 62000|2015-08-01|               |              null|
|          103|          9|    Tom Tan|  33|  Male| 58000|2016-06-01|               |              null|
|          103|          5|  Jack Chan|  40|  Male| 60000|2013-04-01|               |              null|
|          103|          6|  Jill Wong|  32|Female| 52000|2018-07-01|               |              null|
|          104|         18|  Nancy Liu|  29|Female| 50000|2017-06-01|      Marketing| Marketing & Sales|
|          104|         10|   Lisa Lee|  27|Female| 47000|2018-08-01|      Marketing| Marketing & Sales|
|          104|         11| David Park|  38|  Male| 65000|2015-11-01|      Marketing| Marketing & Sales|
|          108|       null|       null|null|      |  null|      null|             HR|   Human Resources|
|          109|       null|       null|null|      |  null|      null|        Finance|Finance Department|
+-------------+-----------+-----------+----+------+------+----------+---------------+------------------+

### Collect()
- PySpark RDD/DataFrame Collect(): Action operation that is used to retrieve all the elements of the dataset (from all nodes) to the driver node
- Use collect() on a smaller dataset usually after filter(), groupBy() etc.
- Using collect() on large datasets results in OutOfMemory error

In [0]:
filldf.collect()

Out[8]: [Row(department_id=103, employee_id=19, name='Steven Chen', age=36, gender='Male', salary=62000, hire_date=datetime.date(2015, 8, 1), department_code=None, department_name=None),
 Row(department_id=103, employee_id=9, name='Tom Tan', age=33, gender='Male', salary=58000, hire_date=datetime.date(2016, 6, 1), department_code=None, department_name=None),
 Row(department_id=103, employee_id=5, name='Jack Chan', age=40, gender='Male', salary=60000, hire_date=datetime.date(2013, 4, 1), department_code=None, department_name=None),
 Row(department_id=103, employee_id=6, name='Jill Wong', age=32, gender='Female', salary=52000, hire_date=datetime.date(2018, 7, 1), department_code=None, department_name=None),
 Row(department_id=104, employee_id=18, name='Nancy Liu', age=29, gender='Female', salary=50000, hire_date=datetime.date(2017, 6, 1), department_code='Marketing', department_name='Marketing & Sales'),
 Row(department_id=104, employee_id=10, name='Lisa Lee', age=27, gender='Female', salary=47000, hire_date=datetime.date(2018, 8, 1), department_code='Marketing', department_name='Marketing & Sales'),
 Row(department_id=104, employee_id=11, name='David Park', age=38, gender='Male', salary=65000, hire_date=datetime.date(2015, 11, 1), department_code='Marketing', department_name='Marketing & Sales'),
 Row(department_id=108, employee_id=None, name=None, age=None, gender=None, salary=None, hire_date=None, department_code='HR', department_name='Human Resources'),
 Row(department_id=109, employee_id=None, name=None, age=None, gender=None, salary=None, hire_date=None, department_code='Finance', department_name='Finance Department')]

### StructType and StructField

In [0]:
data = [(1,'Srishti', 'India'),(2,'Srish', 'India'),(3,'Rohan', 'India')]
col=['id','name','country']
ppldf=spark.createDataFrame(data=data,schema=col)
ppldf.show()

+---+-------+-------+
| id|   name|country|
+---+-------+-------+
|  1|Srishti|  India|
|  2|  Srish|  India|
|  3|  Rohan|  India|
+---+-------+-------+

In [0]:
ppldf.printSchema()  # It has taken default schema as per the column names

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- country: string (nullable = true)

Let's see how to define proper schema below using StructType and StrucField

In [0]:
from pyspark.sql.types import StructField, StructType, IntegerType, StringType 

data = [(1,'Srishti', 'India'),(2,'Srish', 'India'),(3,'Rohan', 'India')]

# schema = StructType([StructField(name='ID', dataType=IntegerType()),
#                      StructField(name='Name', dataType=StringType()),
#                      StructField(name='Country', dataType=StringType())])
# OR
schema = StructType([StructField('ID', IntegerType()),
                     StructField('Name', StringType()),
                     StructField('Country', StringType())])
ppldf=spark.createDataFrame(data,schema)
ppldf.show()
ppldf.printSchema()

+---+-------+-------+
| ID|   Name|Country|
+---+-------+-------+
|  1|Srishti|  India|
|  2|  Srish|  India|
|  3|  Rohan|  India|
+---+-------+-------+

root
 |-- ID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Country: string (nullable = true)

### Pivot/Unpivot
- Pivot : Row values (Unique) to Column
- Unpivot: Column values (Unique) to Row

In [0]:
items = [
    ('Strawberry', 1000, 'India'), ('Mango', 500, 'USA'), ('Watermelon', 750, 'Mexico'), ('Pineapple', 1200, 'India'), ('Mango', 900, 'India'),
    ('Pineapple', 1100, 'Costa_Rica'), ('Strawberry', 650, 'Costa_Rica'), ('Watermelon', 800, 'Mexico'), ('Watermelon', 950, 'Mexico'), ('Strawberry', 700, 'India')
]
columns = ["Item","Amount","Country"]
idf = spark.createDataFrame(items,columns)
idf.show()

+----------+------+----------+
|      Item|Amount|   Country|
+----------+------+----------+
|Strawberry|  1000|     India|
|     Mango|   500|       USA|
|Watermelon|   750|    Mexico|
| Pineapple|  1200|     India|
|     Mango|   900|     India|
| Pineapple|  1100|Costa_Rica|
|Strawberry|   650|Costa_Rica|
|Watermelon|   800|    Mexico|
|Watermelon|   950|    Mexico|
|Strawberry|   700|     India|
+----------+------+----------+

In [0]:
idf.pivot("Country").show()

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
File <command-3167937683094062>:1
----> 1 idf.pivot("Country").show()

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/dataframe.py:2964, in DataFrame.__getattr__(self, name)
   2934 """Returns the :class:`Column` denoted by ``name``.
   2935
   2936 .. versionadded:: 1.3.0
   (...)
   2961 +---+
   2962 """
   2963 if name not in self.columns:
-> 2964     raise AttributeError(
   2965         "'%s' object has no attribute '%s'" % (self.__class__.__name__, name)
   2966     )
   2967 jc = self._jdf.apply(name)
   2968 return Column(jc)

AttributeError: 'DataFrame' object has no attribute 'pivot'

### Important
- pivot() must be used after groupBy().
- You need to specify an aggregation function (like sum(), avg(), etc.).
- The syntax idf.pivot("Country").show() is incomplete; it should include groupBy() and agg().
- idf.groupBy("some_column").pivot("Country").agg(F.sum("value_column")).show()

In [0]:
idf.groupBy("Item").pivot("Country").sum("Amount").show() # Under the hood, sum performs like .agg(F.sum("Amount")).

+----------+----------+-----+------+----+
|      Item|Costa_Rica|India|Mexico| USA|
+----------+----------+-----+------+----+
| Pineapple|      1100| 1200|  null|null|
|Strawberry|       650| 1700|  null|null|
|     Mango|      null|  900|  null| 500|
|Watermelon|      null| null|  2500|null|
+----------+----------+-----+------+----+

In [0]:
idf2=idf.groupBy("Item").pivot("Country").sum("Amount")
idf2.show()

+----------+----------+-----+------+----+
|      Item|Costa_Rica|India|Mexico| USA|
+----------+----------+-----+------+----+
| Pineapple|      1100| 1200|  null|null|
|Strawberry|       650| 1700|  null|null|
|     Mango|      null|  900|  null| 500|
|Watermelon|      null| null|  2500|null|
+----------+----------+-----+------+----+

In [0]:
from pyspark.sql.functions import expr
idf2.select("Item",expr("stack(1,'India',India) AS (Country, Amount)")).show() # Unpivoting for one column and its total

+----------+-------+------+
|      Item|Country|Amount|
+----------+-------+------+
| Pineapple|  India|  1200|
|Strawberry|  India|  1700|
|     Mango|  India|   900|
|Watermelon|  India|  null|
+----------+-------+------+

In [0]:
# Unpivoting multiple columns into row and its total with 'Item' column as it is
idf2.select("Item",expr("stack(4,'India',India,'Costa_Rica',Costa_Rica,'USA',USA,'Mexico',Mexico) AS (Country, Amount)")).show()

+----------+----------+------+
|      Item|   Country|Amount|
+----------+----------+------+
| Pineapple|     India|  1200|
| Pineapple|Costa_Rica|  1100|
| Pineapple|       USA|  null|
| Pineapple|    Mexico|  null|
|Strawberry|     India|  1700|
|Strawberry|Costa_Rica|   650|
|Strawberry|       USA|  null|
|Strawberry|    Mexico|  null|
|     Mango|     India|   900|
|     Mango|Costa_Rica|  null|
|     Mango|       USA|   500|
|     Mango|    Mexico|  null|
|Watermelon|     India|  null|
|Watermelon|Costa_Rica|  null|
|Watermelon|       USA|  null|
|Watermelon|    Mexico|  2500|
+----------+----------+------+

### UDF's (User Defined Functions)
- PySpark UDF's are the most expensiveo operations from computation perspective.
- So, it is not recommended to use UDF unless it is extremely essential for you to use it.

In [0]:
data = [("Finance",10),
       ("Marketing",20),
       ("Sales",30),
       ("IT",40)]
cols = ["dept_name","dept_id"] 
depdf = spark.createDataFrame(data, cols)
depdf.show()

+---------+-------+
|dept_name|dept_id|
+---------+-------+
|  Finance|     10|
|Marketing|     20|
|    Sales|     30|
|       IT|     40|
+---------+-------+

In [0]:
from pyspark.sql.types import LongType

def addone(a):
    return a+1
addonedf = udf(addone, LongType())

In [0]:
depdf.select("dept_name","dept_id",addonedf("dept_id")).show()

+---------+-------+---------------+
|dept_name|dept_id|addone(dept_id)|
+---------+-------+---------------+
|  Finance|     10|             11|
|Marketing|     20|             21|
|    Sales|     30|             31|
|       IT|     40|             41|
+---------+-------+---------------+

### transform()

In [0]:
data = [(1,'Srishti',60000),(2,'Shetty',70000),(3,'Rohan',40000)]
columns = ['ID','Name','Salary']

trdf = spark.createDataFrame(data, columns)

In [0]:
from pyspark.sql.functions import upper
def uppercase(trdf):
    return trdf.withColumn("Name", upper(trdf.Name))

In [0]:
trdf.transform(uppercase).show() # Transform on the uppercase function

+---+-------+------+
| ID|   Name|Salary|
+---+-------+------+
|  1|SRISHTI| 60000|
|  2| SHETTY| 70000|
|  3|  ROHAN| 40000|
+---+-------+------+

### createOrReplaceTempView()

In [0]:
trdf.createOrReplaceTempView("employeetempview")  # Create a table on df. This table will be lost after its running session is lost

In [0]:
%sql
SELECT id, name,MAX(Salary) AS maxsal
FROM employeetempview
GROUP BY id, name  -- You can use all sql operations on this temp view

id,name,maxsal
1,Srishti,60000
2,Shetty,70000
3,Rohan,40000

### Window Functions
- ROW_NUMBER()
- RANK()
- DENSE_RANK()
- LEAD()
- LAG()

In [0]:
e = data = [
    (1, 'Alice', 75000, 'USA'),
    (2, 'Bob', 62000, 'USA'),
    (3, 'Charlie', 82000, 'Canada'),
    (4, 'David', 82000, 'Canada'),  # Same salary as Charlie in Canada
    (5, 'Eve', 55000, 'USA'),
    (6, 'Frank', 47000, 'Canada'),
    (7, 'Grace', 55000, 'USA')    # Same salary as Eve in USA
]
c = ['ID','Name','Salary', 'Country']
edf = spark.createDataFrame(e,c)
edf.show()

+---+-------+------+-------+
| ID|   Name|Salary|Country|
+---+-------+------+-------+
|  1|  Alice| 75000|    USA|
|  2|    Bob| 62000|    USA|
|  3|Charlie| 82000| Canada|
|  4|  David| 82000| Canada|
|  5|    Eve| 55000|    USA|
|  6|  Frank| 47000| Canada|
|  7|  Grace| 55000|    USA|
+---+-------+------+-------+

In [0]:
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number

rnwindow = Window.partitionBy("Country").orderBy("Salary")
edf.withColumn("rn",row_number().over(rnwindow)).show()

+---+-------+------+-------+---+
| ID|   Name|Salary|Country| rn|
+---+-------+------+-------+---+
|  6|  Frank| 47000| Canada|  1|
|  3|Charlie| 82000| Canada|  2|
|  4|  David| 82000| Canada|  3|
|  5|    Eve| 55000|    USA|  1|
|  7|  Grace| 55000|    USA|  2|
|  2|    Bob| 62000|    USA|  3|
|  1|  Alice| 75000|    USA|  4|
+---+-------+------+-------+---+

In [0]:
from pyspark.sql.functions import rank
edf.withColumn("rn",rank().over(rnwindow)).show()

+---+-------+------+-------+---+
| ID|   Name|Salary|Country| rn|
+---+-------+------+-------+---+
|  6|  Frank| 47000| Canada|  1|
|  3|Charlie| 82000| Canada|  2|
|  4|  David| 82000| Canada|  2|
|  5|    Eve| 55000|    USA|  1|
|  7|  Grace| 55000|    USA|  1|
|  2|    Bob| 62000|    USA|  3|
|  1|  Alice| 75000|    USA|  4|
+---+-------+------+-------+---+

In [0]:
from pyspark.sql.functions import dense_rank
edf.withColumn("rn",dense_rank().over(rnwindow)).show()

+---+-------+------+-------+---+
| ID|   Name|Salary|Country| rn|
+---+-------+------+-------+---+
|  6|  Frank| 47000| Canada|  1|
|  3|Charlie| 82000| Canada|  2|
|  4|  David| 82000| Canada|  2|
|  5|    Eve| 55000|    USA|  1|
|  7|  Grace| 55000|    USA|  1|
|  2|    Bob| 62000|    USA|  2|
|  1|  Alice| 75000|    USA|  3|
+---+-------+------+-------+---+

### Date functions

In [0]:
time = [
    ('2025-07-23', '2025-07-23 10:30:00.789'),
    ('2025-08-15', '2025-08-15 14:45:30.264')
]
timecols = ['date_col','timestamp_col']
timedf = spark.createDataFrame(time,timecols)
timedf.show(truncate=False)

+----------+-----------------------+
|date_col  |timestamp_col          |
+----------+-----------------------+
|2025-07-23|2025-07-23 10:30:00.789|
|2025-08-15|2025-08-15 14:45:30.264|
+----------+-----------------------+

In [0]:
from pyspark.sql.functions import date_format, date_add, date_sub, datediff, date_trunc, year, month, dayofyear

In [0]:

timedf.select("date_col",date_format("date_col","dd-MMMM-yy"),date_format("date_col","dd/MMM/yyyy"),date_format("date_col","yyyy/MM/dd").alias("date")).show()  # 'M' should be capital or else it will yield 00 as month!

+----------+---------------------------------+----------------------------------+----------+
|  date_col|date_format(date_col, dd-MMMM-yy)|date_format(date_col, dd/MMM/yyyy)|      date|
+----------+---------------------------------+----------------------------------+----------+
|2025-07-23|                       23-July-25|                       23/Jul/2025|2025/07/23|
|2025-08-15|                     15-August-25|                       15/Aug/2025|2025/08/15|
+----------+---------------------------------+----------------------------------+----------+

In [0]:
timedf.select("date_col", date_add("date_col",10)).show()  # Will add 30 days

+----------+----------------------+
|  date_col|date_add(date_col, 10)|
+----------+----------------------+
|2025-07-23|            2025-08-02|
|2025-08-15|            2025-08-25|
+----------+----------------------+

In [0]:
timedf.select("date_col", date_sub("date_col",10).alias("newdate")).show() # Will remove 10 days

+----------+----------+
|  date_col|   newdate|
+----------+----------+
|2025-07-23|2025-07-13|
|2025-08-15|2025-08-05|
+----------+----------+

In [0]:
dddf= timedf.select("date_col", date_sub("date_col",10).alias("newdate"))
dddf.select("date_col","newdate",datediff("date_col","newdate").alias("difference")).show()

+----------+----------+----------+
|  date_col|   newdate|difference|
+----------+----------+----------+
|2025-07-23|2025-07-13|        10|
|2025-08-15|2025-08-05|        10|
+----------+----------+----------+

In [0]:
dddf.select("date_col",year("date_col")).show()
dddf.select("date_col",dayofyear("date_col")).show()

+----------+--------------+
|  date_col|year(date_col)|
+----------+--------------+
|2025-07-23|          2025|
|2025-08-15|          2025|
+----------+--------------+

+----------+-------------------+
|  date_col|dayofyear(date_col)|
+----------+-------------------+
|2025-07-23|                204|
|2025-08-15|                227|
+----------+-------------------+

In [0]:
dddf.select("date_col", date_trunc("year","date_col").alias("Start Of The Year")).show() # Truncates each date to the start of the year

+----------+-------------------+
|  date_col|  Start Of The Year|
+----------+-------------------+
|2025-07-23|2025-01-01 00:00:00|
|2025-08-15|2025-01-01 00:00:00|
+----------+-------------------+

There are multiple 'Date functions' provided by PySpark. Check Spark documentation for more.

### Partitioning
- **partitionBy()** : Partition in Memory (DataFrame)
- **repartition() or coalesce()**: Partition on Disk (File System)

Examples:
- df.write.option("header",True).partitionBy("state).mode("overwrite).csv("/tmp/zipcodes-state")
- df.repartition(10).write.option("header",True).mode("overwrite).csv("/tmp/zipcodes-state")  
- df.coalesce(2).write.option("header",True).mode("overwrite).csv("/tmp/zipcodes-state")



> NOTE: 
- **Repartition** increase or decrease the number of partitions, and it shuffles all the data around. It's useful when you need a specific number of partitions or want the data evenly distributed, but performance is slower.
- **Coalesce** only decreases the partition with minimal or no shuffling, so it's faster and uses less resources. It's best when you already have more partitions than needed and want to combine them efficiently, especially after filtering or summarizing data.

### Explode() function
- In PySpark, the explode() function is used to transform a column containing arrays or maps into multiple rows, one for each element in the array or each key-value pair in the map

In [0]:
jsondf = spark.read.json("file:///data/input/order_singleline.json")  # Use 'file:///' for files which are physically not visible in the UI of Databricks path
jsondf.show()

+--------+--------------------+--------+-----+
|customer|               items|order_id|total|
+--------+--------------------+--------+-----+
|   Alice|[{1200, Laptop, 1...|       1| 1250|
|     Bob|   [{800, Phone, 1}]|       2|  800|
+--------+--------------------+--------+-----+

In [0]:
display(jsondf.collect()) # display is databricks function since show() isnt showing the output for this im using display for this

customer,items,order_id,total
Alice,"List(List(1200, Laptop, 1), List(25, Mouse, 2))",1,1250
Bob,"List(List(800, Phone, 1))",2,800

In [0]:
from pyspark.sql.functions import *
display(jsondf.select("customer",explode(col("items")), "order_id", "total"))  # First_Level explosion

customer,col,order_id,total
Alice,"List(1200, Laptop, 1)",1,1250
Alice,"List(25, Mouse, 2)",1,1250
Bob,"List(800, Phone, 1)",2,800

In [0]:
explodeddf = jsondf.select("customer",explode(col("items")).alias("item"), "order_id", "total") 

# Full/Recursive Explosion
result_df = explodeddf.select(                                  
    "order_id",
    "customer",
    "total",
    col("item.product").alias("product"),
    col("item.quantity").alias("quantity"),
    col("item.price").alias("price")
)
display(result_df)

order_id,customer,total,product,quantity,price
1,Alice,1250,Laptop,1,1200
1,Alice,1250,Mouse,2,25
2,Bob,800,Phone,1,800

In [0]:
jsondf.createOrReplaceTempView("jsonview")

In [0]:
%sql
SELECT * FROM jsonview

customer,items,order_id,total
Alice,"List(List(1200, Laptop, 1), List(25, Mouse, 2))",1,1250
Bob,"List(List(800, Phone, 1))",2,800

In [0]:
%sql
SELECT customer ,explode(items) as item, order_id, total
FROM jsonview

customer,item,order_id,total
Alice,"List(1200, Laptop, 1)",1,1250
Alice,"List(25, Mouse, 2)",1,1250
Bob,"List(800, Phone, 1)",2,800

**What does LATERAL VIEW do?**
- It allows you to "explode" or "flatten" nested collections (like arrays or maps) into multiple rows.
- When combined with functions like explode(), it generates a separate row for each element in the array or collection.
- It works like a join, but specifically for expanding nested data into multiple rows.

In [0]:
%sql
SELECT customer, order_id, total, item.product, item.quantity, item.price
FROM jsonview
LATERAL VIEW explode(items) AS item  -- alias is complusory for a LATERAL VIEW

customer,order_id,total,product,quantity,price
Alice,1,1250,Laptop,1,1200
Alice,1,1250,Mouse,2,25
Bob,2,800,Phone,1,800

### Cache VS Persist (Storing intermediate results of a DataFrame)

**`cache()`**:
  - Caches the DataFrame or RDD in memory with default storage level (`MEMORY_AND_DISK` in Spark 2.0+) and `MEMORY_ONLY` in RDD
  - Stores the dataset in memory (RAM) primarily, with fallback to disk if needed.
  - Used for quick, simple caching without needing to specify storage levels.
  - Less flexible as it doesn't allow choosing different storage options.
  - Syntax: _dataframe.cache()_

**`persist()`**:
  - Persists the DataFrame or RDD with a specified storage level
  - Allows specifying various storage levels- `MEMORY_ONLY`, `DISK_ONLY`, `MEMORY_AND_DISK`,`MEMORY_ONLY_SER`,`MEMORY_AND_DISK_SER`,`OFF_HEAP (available in Spark 3.0+)`
  - Provides more control over how data is stored and managed in memory/disk
  - Suitable for advanced optimization when specific storage behavior is needed.
  - Syntax: _dataframe.persist(StorageLevel.MEMORY_ONLY)_

**Interview questions**
- Print duplicate records(entries)/columns values, present in a dataset
- Remove duplicate entry

In [0]:
emails = [(1,'abc@gmail.com'),
            (2,'xyz@gmail.com'),
            (3,'srishti@outlook.com'),
            (2,'xyz@gmail.com'),
            (4,'srishti@outlook.com')]

col = ['ID','EmailId']
emaildf = spark.createDataFrame(emails, col)
emaildf.show()

+---+-------------------+
| ID|            EmailId|
+---+-------------------+
|  1|      abc@gmail.com|
|  2|      xyz@gmail.com|
|  3|srishti@outlook.com|
|  2|      xyz@gmail.com|
|  4|srishti@outlook.com|
+---+-------------------+

Print Duplicates for a single column

In [0]:
from pyspark.sql.functions import col
emaildf.groupBy("EmailId").count().filter(col("count")>1).show()

+-------------------+-----+
|            EmailId|count|
+-------------------+-----+
|      xyz@gmail.com|    2|
|srishti@outlook.com|    2|
+-------------------+-----+

In [0]:
%sql
SELECT COUNT(*), EmailId 
FROM Duplicates
GROUP BY EmailId
HAVING COUNT(*) > 1

count(1),EmailId
2,xyz@gmail.com
2,srishti@outlook.com

**IMPORTANT: Printing Duplicates for Records in PySpark and SparkSQL**
- In standard SQL, you must specify the columns to check for duplicates; there is no built-in way to automatically check all columns without listing them. SQL does not support GROUP BY *.

In [0]:
emaildf.groupBy(emaildf.columns).count().filter(col("count") > 1).show()

+---+-------------+-----+
| ID|      EmailId|count|
+---+-------------+-----+
|  2|xyz@gmail.com|    2|
+---+-------------+-----+

In [0]:
emaildf.createOrReplaceTempView("Duplicates")

In [0]:
%sql
-- SELECT COUNT(*),*
-- FROM Duplicates
-- GROUP BY *                    # AnalysisException: Invalid usage of '*' in Aggregate.;
-- HAVING COUNT(*) > 1

- Since using '*' directly in the GROUP BY clause is invalid, generate the list of columns dynamically in Python as shown below.
- By using the below method, you can efficiently create complex SQL queries for tables with many columns without manual effort.

In [0]:
columns = [col for col in spark.table("Duplicates").columns]
cols_str = ", ".join(columns)

query = f"""
SELECT {cols_str}, COUNT(*) as cnt
FROM Duplicates
GROUP BY {cols_str}
HAVING COUNT(*) > 1
"""
spark.sql(query).show()

+---+-------------+---+
| ID|      EmailId|cnt|
+---+-------------+---+
|  2|xyz@gmail.com|  2|
+---+-------------+---+

In [0]:
columns = [col for col in spark.table("Duplicates").columns]
cols_str = ", ".join(columns)

In [0]:
%sql
-- The %sql magic command in Jupyter does not support Python string interpolation: '{col_str}' directly inside the SQL statement, so it will throw parse error shown below
-- SELECT {cols_str}, COUNT(*) as cnt   -- ParseException: [PARSE_SYNTAX_ERROR] Syntax error at or near '}'.
-- FROM Duplicates
-- GROUP BY {cols_str}
-- HAVING COUNT(*) > 1

**Important:**
- Remove Duplicates in PySpark and SparkSQL for a single column and all columns combined(records)

In [0]:
emaildf.dropDuplicates(['EmailId']).show() # For a Single Column

+---+-------------------+
| ID|            EmailId|
+---+-------------------+
|  1|      abc@gmail.com|
|  2|      xyz@gmail.com|
|  3|srishti@outlook.com|
+---+-------------------+

In [0]:
spark.sql("""SELECT * 
            FROM (
            SELECT *, ROW_NUMBER() OVER (PARTITION BY EmailId ORDER BY ID) as rn  -- For a single column
            FROM Duplicates
            )
            WHERE rn=1
            ORDER BY ID
""").show()

+---+-------------------+---+
| ID|            EmailId| rn|
+---+-------------------+---+
|  1|      abc@gmail.com|  1|
|  2|      xyz@gmail.com|  1|
|  3|srishti@outlook.com|  1|
+---+-------------------+---+

In [0]:
emaildf.dropDuplicates().show() # For all columns combined (records)

+---+-------------------+
| ID|            EmailId|
+---+-------------------+
|  1|      abc@gmail.com|
|  2|      xyz@gmail.com|
|  3|srishti@outlook.com|
|  4|srishti@outlook.com|
+---+-------------------+

In [0]:
spark.sql("""SELECT DISTINCT * 
          FROM Duplicates""").show() # For all columns combined (records)

+---+-------------------+
| ID|            EmailId|
+---+-------------------+
|  1|      abc@gmail.com|
|  2|      xyz@gmail.com|
|  3|srishti@outlook.com|
|  4|srishti@outlook.com|
+---+-------------------+

Interview question:
- Find Customers who haven't ordered anything
- Find Customers who have ordered

In [0]:
customers = [
    (1, 'Alice'),
    (2, 'Bob'),
    (3, 'Charlie'),
    (4,'Taylor')
]
col_customers = ['cust_id', 'cust_name']


orders = [
    (101, 1),
    (102, 2),
    (103, 2)
]
col_orders = ['orderid', 'cust_id']

custdf = spark.createDataFrame(customers,col_customers)
orderdf = spark.createDataFrame(orders, col_orders)

In [0]:
custdf.show()
orderdf.show()

+-------+---------+
|cust_id|cust_name|
+-------+---------+
|      1|    Alice|
|      2|      Bob|
|      3|  Charlie|
|      4|   Taylor|
+-------+---------+

+-------+-------+
|orderid|cust_id|
+-------+-------+
|    101|      1|
|    102|      2|
|    103|      2|
+-------+-------+

In [0]:
custdf.join(orderdf, "cust_id", "left").filter(col("orderid").isNull()).show()
custdf.join(orderdf, "cust_id", "left").filter(orderdf.orderid.isNull()).select(custdf.cust_id,custdf.cust_name).show()  # Charlie and Taylor

+-------+---------+-------+
|cust_id|cust_name|orderid|
+-------+---------+-------+
|      3|  Charlie|   null|
|      4|   Taylor|   null|
+-------+---------+-------+

+-------+---------+
|cust_id|cust_name|
+-------+---------+
|      3|  Charlie|
|      4|   Taylor|
+-------+---------+

**IMPORTANT:**
- For selecting all columns in a DataFrame: `*df.columns`

In [0]:
custdf.join(orderdf, "cust_id", "inner").select(orderdf.orderid, *custdf.columns).distinct().show()

+-------+-------+---------+
|orderid|cust_id|cust_name|
+-------+-------+---------+
|    101|      1|    Alice|
|    102|      2|      Bob|
|    103|      2|      Bob|
+-------+-------+---------+

In [0]:
custdf.join(orderdf, "cust_id", "left").filter(orderdf.orderid.isNotNull()).select(orderdf.orderid, *custdf.columns).distinct().show() 
custdf.join(orderdf, "cust_id", "left").filter(orderdf.orderid.isNotNull()).select(custdf.cust_id,custdf.cust_name).distinct().show()

+-------+-------+---------+
|orderid|cust_id|cust_name|
+-------+-------+---------+
|    101|      1|    Alice|
|    102|      2|      Bob|
|    103|      2|      Bob|
+-------+-------+---------+

+-------+---------+
|cust_id|cust_name|
+-------+---------+
|      1|    Alice|
|      2|      Bob|
+-------+---------+

OR

In [0]:
custdf.join(orderdf, "cust_id", "right").filter(custdf.cust_id.isNotNull()).select(orderdf.orderid, *custdf.columns).distinct().show()  
custdf.join(orderdf, "cust_id", "right").filter(orderdf.orderid.isNotNull()).select(orderdf.orderid, *custdf.columns).show()

+-------+-------+---------+
|orderid|cust_id|cust_name|
+-------+-------+---------+
|    101|      1|    Alice|
|    102|      2|      Bob|
|    103|      2|      Bob|
+-------+-------+---------+

+-------+-------+---------+
|orderid|cust_id|cust_name|
+-------+-------+---------+
|    101|      1|    Alice|
|    102|      2|      Bob|
|    103|      2|      Bob|
+-------+-------+---------+

### Interview questions:
- Find highest salary based on each Department
- Fine Employee with highest salary based on each Department
- Find Lowest Salary based on each Department
- Fine Employee with highest salary based on each Department

In [0]:
emps = [
    (1, 'John Doe', 50000, 1),
    (2, 'Jane Smith', 60000, 2),
    (3, 'Mike Johnson', 55000, 3),
    (4, 'Emily Davis', 62000, 4),
    (5, 'Chris Wilson', 58000, 2),
    (6, 'Sarah Brown', 52000, 1),
    (7, 'David Lee', 61000, 4),
    (8, 'Anna Kim', 54000, 2),
    (9, 'Peter Parker', 47000, 3),
    (10, 'Linda Green', 63000, 4)
]
col_emp = ['empid', 'emp_name', 'salary', 'deptid']

depts = [
    (1, 'HR'),
    (2, 'Sales'),
    (3, 'Data Engineer'),
    (4, 'Marketing')
]
col_dept = ['deptid', 'dept_name']

employeedf=spark.createDataFrame(emps,col_emp)
departmentdf=spark.createDataFrame(depts,col_dept)

In [0]:
employeedf.orderBy("deptid").show()
departmentdf.show()

+-----+------------+------+------+
|empid|    emp_name|salary|deptid|
+-----+------------+------+------+
|    1|    John Doe| 50000|     1|
|    6| Sarah Brown| 52000|     1|
|    8|    Anna Kim| 54000|     2|
|    5|Chris Wilson| 58000|     2|
|    2|  Jane Smith| 60000|     2|
|    9|Peter Parker| 47000|     3|
|    3|Mike Johnson| 55000|     3|
|   10| Linda Green| 63000|     4|
|    4| Emily Davis| 62000|     4|
|    7|   David Lee| 61000|     4|
+-----+------------+------+------+

+------+-------------+
|deptid|    dept_name|
+------+-------------+
|     1|           HR|
|     2|        Sales|
|     3|Data Engineer|
|     4|    Marketing|
+------+-------------+

**Highest salary based on each Department**

In [0]:

employeedf.join(departmentdf, "deptid", "inner").groupBy(employeedf.deptid).max("salary").show()
# AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `empid` cannot be resolved. Did you mean one of the following? [`deptid`, `max(salary)`].;
# employeedf.join(departmentdf, "deptid", "inner").groupBy(employeedf.deptid).max("salary").select(*employeedf.columns).show()

+------+-----------+
|deptid|max(salary)|
+------+-----------+
|     1|      52000|
|     2|      60000|
|     3|      55000|
|     4|      63000|
+------+-----------+

The error occurs because after you use groupBy and max("salary"), the resulting DataFrame only contains the columns used in groupBy (here, deptid) and the aggregated column (max(salary)).
Columns like empid, emp_name, and salary are not available in this result, so you cannot select them.

In [0]:
from pyspark.sql.functions import max
employeedf.join(departmentdf, "deptid", "inner").groupBy(employeedf.deptid).agg(max("salary").alias('Max Salary')).show()employeedf.join(departmentdf, "deptid", "inner").groupBy(departmentdf.dept_name).agg(max("salary").alias('Max Salary')).orderBy(col("Max Salary").desc()).show()

+------+----------+
|deptid|Max Salary|
+------+----------+
|     1|     52000|
|     2|     60000|
|     3|     55000|
|     4|     63000|
+------+----------+

+-------------+----------+
|    dept_name|Max Salary|
+-------------+----------+
|    Marketing|     63000|
|        Sales|     60000|
|Data Engineer|     55000|
|           HR|     52000|
+-------------+----------+

**Employee with highest salary based on each Department**

In [0]:
maxsaldf = employeedf.join(departmentdf, "deptid", "inner").groupBy(employeedf.deptid).max("salary")
maxsaldf.show()

+------+-----------+
|deptid|max(salary)|
+------+-----------+
|     1|      52000|
|     2|      60000|
|     3|      55000|
|     4|      63000|
+------+-----------+

You can't just write "deptid" in the join condition when you want to join on multiple columns or with additional conditions.

In [0]:
# result = employeedf.join(maxsaldf, (("deptid") & employeedf.salary==maxsaldf["max(salary)"]), "inner")\   # py4j.Py4JException: Method and([class java.lang.String]) does not exist
#         .join(departmentdf, "deptid", "inner")\
#         .select(*employeedf.columns, departmentdf.dept_name)
# result.show()

In [0]:

# result = emp.join(maxsal, (employeedf.deptid==maxsaldf.deptid) & (employeedf.salary==maxsaldf["max(salary)"]), "inner")\
#   .join(dept, employeedf.deptid==departmentdf.deptid, "inner")\
#     .select(employeedf.empid, employeedf.emp_name, departmentdf.dept_name)
# result.show()


# AnalysisException: Column deptid#3087L are ambiguous. It's probably because you joined several Datasets together, and some of these Datasets are the same.

In [0]:
from pyspark.sql.functions import col

emp = employeedf.alias("emp")
maxsal = maxsaldf.alias("maxsal")
dept = departmentdf.alias("dept")

result = emp.join(maxsal,
    (col("emp.deptid") == col("maxsal.deptid")) & (col("emp.salary") == col("maxsal.max(salary)")),"inner"
).join(dept,
    col("emp.deptid") == col("dept.deptid"),"inner"
).select(
    col("emp.empid"),
    col("emp.emp_name"),
    col("emp.salary"),
    col("emp.deptid"),
    col("dept.dept_name")
)

result.show()

+-----+------------+------+------+-------------+
|empid|    emp_name|salary|deptid|    dept_name|
+-----+------------+------+------+-------------+
|    6| Sarah Brown| 52000|     1|           HR|
|    2|  Jane Smith| 60000|     2|        Sales|
|    3|Mike Johnson| 55000|     3|Data Engineer|
|   10| Linda Green| 63000|     4|    Marketing|
+-----+------------+------+------+-------------+

In [0]:
from pyspark.sql.window import Window
from pyspark.sql.functions import rank

window = Window.partitionBy("deptid").orderBy(col("salary").desc())
ranked = employeedf.withColumn("rank", rank().over(window))
ranked.filter(col("rank")==1)\
    .join(departmentdf, "deptid", "inner")\
        .select("empid","emp_name", "salary","deptid", "dept_name").show()

+-----+------------+------+------+-------------+
|empid|    emp_name|salary|deptid|    dept_name|
+-----+------------+------+------+-------------+
|    6| Sarah Brown| 52000|     1|           HR|
|    2|  Jane Smith| 60000|     2|        Sales|
|    3|Mike Johnson| 55000|     3|Data Engineer|
|   10| Linda Green| 63000|     4|    Marketing|
+-----+------------+------+------+-------------+

### Interview question:
- Flatten a DataFrame
- Find out the device pinged or not

In [0]:
pdts = [
    (1,['Mobile','PC','Tablet']),
    (2,['Mobile','PC']),
    (3,['Tablet','Pen'])
]

pdt_schema = ['customer_id','purchases_products']

flattendf=spark.createDataFrame(pdts,pdt_schema)
flattendf.show()

+-----------+--------------------+
|customer_id|  purchases_products|
+-----------+--------------------+
|          1|[Mobile, PC, Tablet]|
|          2|        [Mobile, PC]|
|          3|       [Tablet, Pen]|
+-----------+--------------------+

In [0]:
from pyspark.sql.functions import explode

flattendf.select(*flattendf.columns, explode("purchases_products")).show()  # Without explicity naming the exploded column
flattendf.withColumn("products", explode("purchases_products")).show() # Explicity naming the exploded column

+-----------+--------------------+------+
|customer_id|  purchases_products|   col|
+-----------+--------------------+------+
|          1|[Mobile, PC, Tablet]|Mobile|
|          1|[Mobile, PC, Tablet]|    PC|
|          1|[Mobile, PC, Tablet]|Tablet|
|          2|        [Mobile, PC]|Mobile|
|          2|        [Mobile, PC]|    PC|
|          3|       [Tablet, Pen]|Tablet|
|          3|       [Tablet, Pen]|   Pen|
+-----------+--------------------+------+

+-----------+--------------------+--------+
|customer_id|  purchases_products|products|
+-----------+--------------------+--------+
|          1|[Mobile, PC, Tablet]|  Mobile|
|          1|[Mobile, PC, Tablet]|      PC|
|          1|[Mobile, PC, Tablet]|  Tablet|
|          2|        [Mobile, PC]|  Mobile|
|          2|        [Mobile, PC]|      PC|
|          3|       [Tablet, Pen]|  Tablet|
|          3|       [Tablet, Pen]|     Pen|
+-----------+--------------------+--------+

In [0]:
devices = [
    (1,'Yes',None,None),
    (2,None,'Yes',None),
    (3,'No', None, 'Yes')
] 
devicesschema = ['customer_id','device_using1','device_using2','device_using3']

devicedf= spark.createDataFrame(devices,devicesschema)
devicedf.show()

+-----------+-------------+-------------+-------------+
|customer_id|device_using1|device_using2|device_using3|
+-----------+-------------+-------------+-------------+
|          1|          Yes|         null|         null|
|          2|         null|          Yes|         null|
|          3|           No|         null|          Yes|
+-----------+-------------+-------------+-------------+

In [0]:
from pyspark.sql.functions import coalesce
devicedf.withColumn("New", coalesce(col("device_using1"),col("device_using2"),col("device_using3"))).show()

+-----------+-------------+-------------+-------------+---+
|customer_id|device_using1|device_using2|device_using3|New|
+-----------+-------------+-------------+-------------+---+
|          1|          Yes|         null|         null|Yes|
|          2|         null|          Yes|         null|Yes|
|          3|           No|         null|          Yes| No|
+-----------+-------------+-------------+-------------+---+

### Interview Questions:
- Parse and Convert string JSON into a proper JSON Format
- After converting, separate the columns from the JSON body

In [0]:
strdata = [
    ('Hania', '{"Street": "456 Elm St.", "City": "New York"}'),
    ('Sophie', '{"Street": "789 Maple Ave.", "City": "London"}'),
    ('Winona', '{"Street": "1010 Oak Blvd.", "City": "Sydney"}'),
    ('Emma', '{"Street": "2020 Pine Rd.", "City": "Toronto"}')
]
strschema = ['Name', 'Address']
strdf = spark.createDataFrame(strdata, strschema)
strdf.show(truncate=False)   # This DataFrame is in String format
strdf.printSchema()

+------+----------------------------------------------+
|Name  |Address                                       |
+------+----------------------------------------------+
|Hania |{"Street": "456 Elm St.", "City": "New York"} |
|Sophie|{"Street": "789 Maple Ave.", "City": "London"}|
|Winona|{"Street": "1010 Oak Blvd.", "City": "Sydney"}|
|Emma  |{"Street": "2020 Pine Rd.", "City": "Toronto"}|
+------+----------------------------------------------+

root
 |-- Name: string (nullable = true)
 |-- Address: string (nullable = true)

Parse and Convert string JSON into a proper JSON Format

In [0]:
strdf.createOrReplaceTempView("jsonparsing")

In [0]:
%sql
SELECT *, from_json(Address, 'Street String, City string') AS Address_Parsed
FROM jsonparsing

Name,Address,Address_Parsed
Hania,"{""Street"": ""456 Elm St."", ""City"": ""New York""}","List(456 Elm St., New York)"
Sophie,"{""Street"": ""789 Maple Ave."", ""City"": ""London""}","List(789 Maple Ave., London)"
Winona,"{""Street"": ""1010 Oak Blvd."", ""City"": ""Sydney""}","List(1010 Oak Blvd., Sydney)"
Emma,"{""Street"": ""2020 Pine Rd."", ""City"": ""Toronto""}","List(2020 Pine Rd., Toronto)"

In [0]:
from pyspark.sql.functions import from_json,to_json

res= strdf.withColumn("Address_Parsed", from_json(col("Address"),('Street String, City string')))
display(res)

Name,Address,Address_Parsed
Hania,"{""Street"": ""456 Elm St."", ""City"": ""New York""}","List(456 Elm St., New York)"
Sophie,"{""Street"": ""789 Maple Ave."", ""City"": ""London""}","List(789 Maple Ave., London)"
Winona,"{""Street"": ""1010 Oak Blvd."", ""City"": ""Sydney""}","List(1010 Oak Blvd., Sydney)"
Emma,"{""Street"": ""2020 Pine Rd."", ""City"": ""Toronto""}","List(2020 Pine Rd., Toronto)"

After converting, separate the columns from the JSON body

In [0]:
%sql

WITH CTE AS (
    SELECT *, from_json(Address, 'Street String, City string') AS Address_Parsed
FROM jsonparsing
)

SELECT *, Address_Parsed.Street, Address_Parsed.City
FROM CTE

Name,Address,Address_Parsed,Street,City
Hania,"{""Street"": ""456 Elm St."", ""City"": ""New York""}","List(456 Elm St., New York)",456 Elm St.,New York
Sophie,"{""Street"": ""789 Maple Ave."", ""City"": ""London""}","List(789 Maple Ave., London)",789 Maple Ave.,London
Winona,"{""Street"": ""1010 Oak Blvd."", ""City"": ""Sydney""}","List(1010 Oak Blvd., Sydney)",1010 Oak Blvd.,Sydney
Emma,"{""Street"": ""2020 Pine Rd."", ""City"": ""Toronto""}","List(2020 Pine Rd., Toronto)",2020 Pine Rd.,Toronto

In [0]:
result = res.select(*res.columns,col("Address_Parsed").Street.alias("Street"), col("Address_Parsed").City.alias("City"))
display(result)

Name,Address,Address_Parsed,Street,City
Hania,"{""Street"": ""456 Elm St."", ""City"": ""New York""}","List(456 Elm St., New York)",456 Elm St.,New York
Sophie,"{""Street"": ""789 Maple Ave."", ""City"": ""London""}","List(789 Maple Ave., London)",789 Maple Ave.,London
Winona,"{""Street"": ""1010 Oak Blvd."", ""City"": ""Sydney""}","List(1010 Oak Blvd., Sydney)",1010 Oak Blvd.,Sydney
Emma,"{""Street"": ""2020 Pine Rd."", ""City"": ""Toronto""}","List(2020 Pine Rd., Toronto)",2020 Pine Rd.,Toronto

How `to_json` works in SparkSQL and PySpark

In [0]:
%sql
WITH CTE AS (
    SELECT *, from_json(Address, 'Street String, City String') AS Address_Parsed
FROM jsonparsing
)

SELECT *, to_json(Address_Parsed) AS Address_Parsed_back_to_String_using_to_json
FROM CTE

Name,Address,Address_Parsed,Address_Parsed_back_to_String_using_to_json
Hania,"{""Street"": ""456 Elm St."", ""City"": ""New York""}","List(456 Elm St., New York)","{""Street"":""456 Elm St."",""City"":""New York""}"
Sophie,"{""Street"": ""789 Maple Ave."", ""City"": ""London""}","List(789 Maple Ave., London)","{""Street"":""789 Maple Ave."",""City"":""London""}"
Winona,"{""Street"": ""1010 Oak Blvd."", ""City"": ""Sydney""}","List(1010 Oak Blvd., Sydney)","{""Street"":""1010 Oak Blvd."",""City"":""Sydney""}"
Emma,"{""Street"": ""2020 Pine Rd."", ""City"": ""Toronto""}","List(2020 Pine Rd., Toronto)","{""Street"":""2020 Pine Rd."",""City"":""Toronto""}"

In [0]:
result2 = res.withColumn("Address Parsed back to String Using to_json", to_json(col("Address_Parsed")))
display(result2)

Name,Address,Address_Parsed,Address Parsed back to String Using to_json
Hania,"{""Street"": ""456 Elm St."", ""City"": ""New York""}","List(456 Elm St., New York)","{""Street"":""456 Elm St."",""City"":""New York""}"
Sophie,"{""Street"": ""789 Maple Ave."", ""City"": ""London""}","List(789 Maple Ave., London)","{""Street"":""789 Maple Ave."",""City"":""London""}"
Winona,"{""Street"": ""1010 Oak Blvd."", ""City"": ""Sydney""}","List(1010 Oak Blvd., Sydney)","{""Street"":""1010 Oak Blvd."",""City"":""Sydney""}"
Emma,"{""Street"": ""2020 Pine Rd."", ""City"": ""Toronto""}","List(2020 Pine Rd., Toronto)","{""Street"":""2020 Pine Rd."",""City"":""Toronto""}"

In [0]:

# The error occurs because to_json is a Spark SQL function, not a DataFrame method.
# You should use it inside a withColumn or select statement.

# result2 = res.to_json(col("Address_parsed"))   # - AttributeError: 'DataFrame' object has no attribute 'to_json'. 
# display(result2)

### NOTE
- from_json(Address, ...) parses the JSON string into a struct.
- to_json(Address_Parsed) converts the struct back into a JSON string.

### Interview Questions
- Find out the cumulative sales or total running sales
- Find previous sales
- Find next sales

In [0]:
sales_data = [
    ('2024-01-01', 25000),
    ('2024-01-02', 3700),
    ('2024-01-03', 45600),
    ('2024-01-04', 7800),
    ('2024-01-05', 2000)
]
sales_schema = ['Date', 'Sales']

salesdf = spark.createDataFrame(sales_data, sales_schema)
salesdf.show()

+----------+-----+
|      Date|Sales|
+----------+-----+
|2024-01-01|25000|
|2024-01-02| 3700|
|2024-01-03|45600|
|2024-01-04| 7800|
|2024-01-05| 2000|
+----------+-----+

- Find out the cumulative sales or total running sales

In [0]:
salesdf.createOrReplaceTempView("SalesInfo")

In [0]:
%sql
SELECT *, SUM(Sales) OVER(ORDER BY 'Date') Cumulative_Sales
FROM SalesInfo

Date,Sales,Cumulative_Sales
2024-01-01,25000,84100
2024-01-02,3700,84100
2024-01-03,45600,84100
2024-01-04,7800,84100
2024-01-05,2000,84100

In [0]:
%sql
SELECT *, SUM(Sales) OVER(ORDER BY Date) Cumulative_Sales
FROM SalesInfo

Date,Sales,Cumulative_Sales
2024-01-01,25000,25000
2024-01-02,3700,28700
2024-01-03,45600,74300
2024-01-04,7800,82100
2024-01-05,2000,84100

In [0]:
from pyspark.sql.window import Window
from pyspark.sql.functions import sum, col

w = Window.orderBy('Date')
# display(salesdf.withColumn("Cumulative_Sales", sum(col("Sales")).over(w)))  # This works as wll
display(salesdf.select(*salesdf.columns, sum(col("Sales")).over(w).alias("Cumulative_Sales")))

Date,Sales,Cumulative_Sales
2024-01-01,25000,25000
2024-01-02,3700,28700
2024-01-03,45600,74300
2024-01-04,7800,82100
2024-01-05,2000,84100

### IMPORTANT (For Spark SQL)
- ORDER BY Date (without quotes) refers to the column named Date.
- ORDER BY 'Date' (with single quotes) is treated as a constant string (the literal value 'Date'), not a column.

### What happens:
SUM(Sales) OVER(ORDER BY Date)
- This computes a running total (cumulative sum) of Sales ordered by the actual Date column, so you get a true cumulative sum.

SUM(Sales) OVER(ORDER BY 'Date')
- Here, 'Date' is a constant string for every row, so there is no real ordering. The window function treats all rows as having the same value for ordering, so it sums all Sales for every row, resulting in the same total for each row.

Summary:
- Use column names without quotes in ORDER BY for correct window function behavior.
- Using quotes makes it a constant, not a column reference, which breaks the intended logic

- Find previous sales

In [0]:
%sql
SELECT *, LAG(Sales) OVER(ORDER BY Date) Previous_Sales -- Default OFFSET is 1
FROM SalesInfo

Date,Sales,Previous_Sales
2024-01-01,25000,null
2024-01-02,3700,25000
2024-01-03,45600,3700
2024-01-04,7800,45600
2024-01-05,2000,7800

In [0]:
from pyspark.sql.window import Window
from pyspark.sql.functions import lag

w = Window.orderBy('Date')
display(salesdf.withColumn("Previous_Sales", lag(col("Sales")).over(w)))  
# display(salesdf.select(*salesdf.columns, lag(col("Sales")).over(w).alias("Previous_Sales"))) # This works as wll

Date,Sales,Previous_Sales
2024-01-01,25000,null
2024-01-02,3700,25000
2024-01-03,45600,3700
2024-01-04,7800,45600
2024-01-05,2000,7800

Find Next Sales

In [0]:
%sql
SELECT *, LEAD(Sales,1) OVER(ORDER BY Date) Next_Sales  -- Default OFFSET is 1, so specifiying 1 is optional
FROM SalesInfo

Date,Sales,Next_Sales
2024-01-01,25000,3700
2024-01-02,3700,45600
2024-01-03,45600,7800
2024-01-04,7800,2000
2024-01-05,2000,null

In [0]:
from pyspark.sql.window import Window
from pyspark.sql.functions import lead

w = Window.orderBy('Date')
display(salesdf.select(*salesdf.columns, lead(col("Sales"), 1).over(w).alias("Next_Sales")))

Date,Sales,Next_Sales
2024-01-01,25000,3700
2024-01-02,3700,45600
2024-01-03,45600,7800
2024-01-04,7800,2000
2024-01-05,2000,null

In [0]:
from pyspark.sql.window import Window
from pyspark.sql.functions import lead

w = Window.orderBy('Date')
# display(salesdf.withColumn("Next_Next_Sales", lead(col("Sales"), 2).over(w)))  # This works as well -- Default OFFSET is 1
display(salesdf.select(*salesdf.columns, lead(col("Sales"), 2).over(w).alias("Next_Next_Sales")))

Date,Sales,Next_Next_Sales
2024-01-01,25000,45600
2024-01-02,3700,7800
2024-01-03,45600,2000
2024-01-04,7800,null
2024-01-05,2000,null

### Interview Questions
- Find Missing Numbers

In [0]:
ids = [
    (1,),(2,),(3,),(5,),(8,),(9,),(10,) 
    ]
id_cols = ['ID']
idsdf = spark.createDataFrame(ids,id_cols)
idsdf.show()

+---+
| ID|
+---+
|  1|
|  2|
|  3|
|  5|
|  8|
|  9|
| 10|
+---+

In [0]:
from pyspark.sql.functions import col

# Find min and max ID
min_id = idsdf.agg({"ID": "min"}).collect()[0][0]
max_id = idsdf.agg({"ID": "max"}).collect()[0][0]

# Create a DataFrame with all possible IDs in the range
all_ids = spark.range(min_id, max_id + 1)

# Find missing IDs using subtract
# missing = all_ids.join(idsdf, "ID", "left_anti")  # Recommended as it is more efficient for larger datasets as well
missing = all_ids.subtract(idsdf) 
missing.show()

+---+
| id|
+---+
|  4|
|  6|
|  7|
+---+

In [0]:
from pyspark.sql.functions import col, min, max, sequence, explode

# Find min and max
min_max = idsdf.agg(min("ID").alias("min_id"), max("ID").alias("max_id")).collect()[0]
min_id, max_id = min_max["min_id"], min_max["max_id"]

# Create full range DataFrame
full_range = spark.createDataFrame([(min_id, max_id)], ["start", "end"]) \
    .select(explode(sequence(col("start"), col("end"))).alias("ID"))

# Find missing numbers by anti-join
missing = full_range.join(idsdf, "ID", "left_anti")  
missing.show()

+---+
| ID|
+---+
|  7|
|  6|
|  4|
+---+

### NOTE
Spark DataFrames are unordered by default unless you explicitly use .orderBy()

### Interview Question
- Group Multiple rows into single

In [0]:
pdtdata = [
    (101, 'Alice Johnson', 'Smart TV'),
    (102, 'Carol White', 'Laptop'),
    (103, 'Henry Wilson', 'Air Conditioner'),
    (104, 'David Brown', 'Washing Machine'),
    (105, 'Frank Miller', 'Smartphone'),
    (105, 'Frank Miller', 'Microwave Oven'),
    (104, 'David Brown', 'Air Conditioner'),
    (101, 'Alice Johnson', 'Refrigerator'),
    (104, 'David Brown', 'Vacuum Cleaner')
]

pdtschema = ['Customer_id','Customer_Name','Purchase']

pdtdf= spark.createDataFrame(pdtdata, pdtschema)
pdtdf.show()

+-----------+-------------+---------------+
|Customer_id|Customer_Name|       Purchase|
+-----------+-------------+---------------+
|        101|Alice Johnson|       Smart TV|
|        102|  Carol White|         Laptop|
|        103| Henry Wilson|Air Conditioner|
|        104|  David Brown|Washing Machine|
|        105| Frank Miller|     Smartphone|
|        105| Frank Miller| Microwave Oven|
|        104|  David Brown|Air Conditioner|
|        101|Alice Johnson|   Refrigerator|
|        104|  David Brown| Vacuum Cleaner|
+-----------+-------------+---------------+

In [0]:
pdtdf.createOrReplaceTempView("PurchasedPdts")

In [0]:
%sql
SELECT Customer_id, Customer_name, 
collect_set(Purchase) Purchases   -- Will convert Purchase into Array
FROM PurchasedPdts
GROUP BY 1,2

Customer_id,Customer_name,Purchases
101,Alice Johnson,"List(Refrigerator, Smart TV)"
102,Carol White,List(Laptop)
103,Henry Wilson,List(Air Conditioner)
104,David Brown,"List(Vacuum Cleaner, Washing Machine, Air Conditioner)"
105,Frank Miller,"List(Smartphone, Microwave Oven)"

In [0]:
from pyspark.sql.functions import collect_set
display(pdtdf.groupBy('Customer_id','Customer_name').agg(collect_set("Purchase")))

Customer_id,Customer_name,collect_set(Purchase)
101,Alice Johnson,"List(Refrigerator, Smart TV)"
102,Carol White,List(Laptop)
103,Henry Wilson,List(Air Conditioner)
104,David Brown,"List(Vacuum Cleaner, Washing Machine, Air Conditioner)"
105,Frank Miller,"List(Smartphone, Microwave Oven)"

### Interview Question
- Combine many lists

In [0]:
list1 = ["a","b","c","d"]
list2 = [1,2,3,4]

rdd = spark.sparkContext.parallelize(list(zip(list1,list2)))

listdf = rdd.toDF(['Column1','Column2'])
listdf.show()

+-------+-------+
|Column1|Column2|
+-------+-------+
|      a|      1|
|      b|      2|
|      c|      3|
|      d|      4|
+-------+-------+

In [0]:
zippedlist = list(zip(list1,list2))
listdf = spark.createDataFrame(zippedlist, ["Column1","Column2"])
display(listdf)

Column1,Column2
a,1
b,2
c,3
d,4

In [0]:
listdf.createOrReplaceTempView("Combined_Lists")

In [0]:
%sql
SELECT *
FROM Combined_Lists

Column1,Column2
a,1
b,2
c,3
d,4

### Streaming Data in PySpark
- Lets set up a basic streaming job that reads data from a socket in real-time

In [0]:
from pyspark.sql.functions import explode, split

# Read streaming data from a socket
lines = spark.readStream\
    .format("socket")\
    .option("host", "localhost")\
    .option("port", 9999)\
    .load()

# Split the lines into words
words = lines.select(
    explode(split(lines.value, " ")).alias("word")
)

# Generate running word count
wordcount = words.groupBy("word").count()


# wordcount.show()  -- Unexpected exception formatting exception. Falling back to standard exception

**IMPORTANT**: 
- *'wordcount.show()'* will throw an error since you cannot call show() on a streaming Dataframe, wordcount here!
- In PySpark, DataFrame.show() is meant only for static Dataframes, not streaming ones.

In [0]:
query = wordcount.writeStream\
    .outputMode("complete")\
        .format("console")\
            .start()

query.awaitTermination()  # Keeps the streaming job running!

query.stop() # To stop the streaming job

---------------------------------------------------------------------------
StreamingQueryException                   Traceback (most recent call last)
File <command-2501329755666365>:6
      1 query = wordcount.writeStream\
      2     .outputMode("complete")\
      3         .format("console")\
      4             .start()
----> 6 query.awaitTermination()

File /databricks/spark/python/pyspark/sql/streaming/query.py:198, in StreamingQuery.awaitTermination(self, timeout)
    196     return self._jsq.awaitTermination(int(timeout * 1000))
    197 else:
--> 198     return self._jsq.awaitTermination()

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:234, in capture_sql_exception.<locals>.deco(*a, **kw)
    230 converted = convert_exception(e.java_exception)
    231 if not isinstance(converted, UnknownException):
    232     # Hide where the exception came from that shows a non-Pythonic
    233     # JVM exception message.
--> 234     raise converted from None
    235 else:
    236     raise

StreamingQueryException: [STREAM_FAILED] Query [id = c947387d-f9ac-4d4c-83bc-28cc461ee1a4, runId = 8e4990da-8a8c-42de-8b74-f64d062984af] terminated with exception: Connection refused (Connection refused)

StreamingQueryException -- The "Connection refused" error means Spark can't connect to the socket server given above. It might not be up and running

### Project Scenario: Predicting Customer Churn

The goal of this project is to:

- Load the data into PySpark.
- Perform data cleaning and preprocessing.
- Build a machine learning model to predict customer churn.
- Evaluate the model and make predictions.